- ( Rails::Engine.subclasses.map(&:instance) << Rails.application).each do |e|
  - next unless e.respond_to? :office_assets
  - asset = e.office_assets
  - next if asset.blank?
  = stylesheet_link_tag asset , :media => :all
  = javascript_include_tag asset
