- flash.each do |name, msg|
  - if msg.is_a?(String)
    %div{:class => "alert alert-#{name}"}
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "btn btn-primary"} &times;
      %div= msg
