#page-menu.page-menu-color
  .container
    %nav.pull-right
      %button#page-menu-mobile.fa.icon-menu
      %ul.list-inline
        - { "Profile" => edit_user_registration_path , "Resume" => resume_path  ,
          "Application" => application_path }.each do | menu, slug|
          %li{class: (request.path == slug) && "active" }
            =link_to menu , slug
