- title! "The Camp"
- description! "The camp is an old school in Finland. Accommodation and board is included in the course. Beautiful nature"

%section.fullheight.parallax{:style => "background-image: url('#{image_url("camp/camp_vt.jpg")}'); background-position: 50% 0px;"}
  .display-table
    .display-table-cell.vertical-align-middle
      .container
        .slider-featured-text.text-center
          %h1.text-white
            Welcome to Villa Taika
          %h2.weight-300.text-white.fadeInUp Live and Learn
          %a.btn.btn-primary.btn-lg.wow.fadeInUp Apply
%section.padding-xxs
  .container
    .row
      .blog-post-item.col-md-6.col-sm-6.col-xs-12
        %h2
          Beautiful rooms
        %figure.margin-bottom-20
          .swiper-container
            .swiper-wrapper
              .swiper-slide
                =raw delayed_image("camp/orange.jpg")
              .swiper-slide
                =raw delayed_image("camp/green.jpg")
              .swiper-slide
                =raw delayed_image("camp/rose.jpg")
              .swiper-slide
                =raw delayed_image("camp/sky.jpg")
              .swiper-slide
                =raw delayed_image("camp/lootus.jpg")
              .swiper-slide
                =raw delayed_image("camp/saffron.jpg")
            .swiper-pagination
            .swiper-button-next
            .swiper-button-prev
          :javascript
            var swiper_options = { }
        %p
          Stay on site in our beautifully decorated rooms.
          %br
          Enjoy the time you'll have to relax.
      .blog-post-item.col-md-6.col-sm-6.col-xs-12
        %h2
          Good food
        %figure.margin-bottom-20
          = image_tag "food.jpg"
        %p
          Healthy, local food gives you strength to carry on.
          %br
          ​Breakfast and lunch are provided and you are free to time and shape your evening intake
          yourself.

%section.fullheight.parallax{:style => "background-image: url('#{image_url("camp/camp_garden.jpg")}'); background-position: 50% 0px;"}
  .display-table
    .display-table-cell.vertical-align-middle
      .container
        .slider-featured-text.text-center
          %h1.text-white
            Relax
          %h2.weight-300.text-white.wow.fadeInUp Recharge your batteries in between work
          %a.btn.btn-primary.btn-lg.wow.fadeInUp Apply

%section.padding-xxs
  .container
    .row
      .col-md-1
      .col-md-10
        %h2.text-center
          Villa Taika
        %p.text-center
          Just a short flight away, airport pickup included
        .google-maps
          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "450", :src => "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2096774.0474461166!2d19.0465851!3d59.1218444!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x468db1dd24f6fe5b%3A0x9bdbda6312548ef6!2sVilla+Taika!5e0!3m2!1sen!2sfi!4v1461766350016", :style => "border:0", :width => "600"}
      .col-md-1
