- title! "The Camp"
- description! "The camp is an old school in Finland. Accommodation and board is included in the course. Beautiful nature"

.section.parallax{:style => "background-image: url('#{image_url("camp/camp_fiskars.jpg")}'); background-position: 50% 0px;"}
  %h1
    Live in nature, learn to code
  .action
    =link_to "Apply now", new_user_registration_path , class: "btn btn-success btn-lg"

.section
  .container
    .row
      .col-md-12.subtext
        %p
          Attending a Bootcamp can move you up from the tech career ladder,
          but that often means quitting a job, uprooting your life, or moving to a new place.
          Committing to a full-time, intensive Bootcamp also means that you have no time to work
          for money while still having to pay for other fees like food and accommodation, which could be stressful since
          Finland is well-known for its high cost of living. That is the reason we are
          doing our best to provide you with free food and accommodation to keep
          the stress away so that you are in your best mental and physical condition to learn.

.section
  .container
    .row
      .blog-post-item.col-md-6.col-sm-6.col-xs-12
        %h2
          Beautiful Accommodation
        %figure.margin-bottom-20
          #camp-carousel.carousel.slide{"data-ride" => "carousel"}
            %ol.carousel-indicators
              %li.active{"data-slide-to" => "0", "data-target" => "#camp-carousel"}
              %li{"data-slide-to" => "1", "data-target" => "#camp-carousel"}
              %li{"data-slide-to" => "2", "data-target" => "#camp-carousel"}
              %li{"data-slide-to" => "3", "data-target" => "#camp-carousel"}
              %li{"data-slide-to" => "4", "data-target" => "#camp-carousel"}
              %li{"data-slide-to" => "5", "data-target" => "#camp-carousel"}
            .carousel-inner{:role => "listbox"}
              .carousel-item.active
                =image_tag("camp/orange.jpg")
              .carousel-item
                =image_tag("camp/green.jpg")
              .carousel-item
                =image_tag("camp/rose.jpg")
              .carousel-item
                =image_tag("camp/sky.jpg")
              .carousel-item
                =image_tag("camp/lootus.jpg")
              .carousel-item
                =image_tag("camp/saffron.jpg")
            %a.left.carousel-control{"data-slide" => "prev", :href => "#camp-carousel", :role => "button"}
              %span.icon-prev{"aria-hidden" => "true"}
              %span.sr-only Previous
            %a.right.carousel-control{"data-slide" => "next", :href => "#camp-carousel", :role => "button"}
              %span.icon-next{"aria-hidden" => "true"}
              %span.sr-only Next

        %p
          Our new Bootcamp is a newly built villa located in the centre of Fiskars - the most
          beautiful village in Finland. Our rooms are about 15 square meters big and you will
          be sharing with one or two other students of your same gender. A big kitchen, toilets and showers are shared.
      .blog-post-item.col-md-6a.col-sm-6.col-xs-12
        %h2
          Healthy food
        %figure.margin-bottom-20
          = image_tag "food.jpg"
        %p
          Breakfast and warm lunch are provided with fresh local ingredients and you are free to make your own dinner in
          our big kitchen. The local supermarket is just 5 minutes walk from the camp which provides a wide range of food
          options.

.section.parallax{:style => "background-image: url('#{image_url("camp/camp_garden.jpg")}'); background-position: 50% 0px;"}
  %h1
    Surrounded by nature
  %h2
    Recharge your energy in between work
  .action
    =link_to "Apply now", new_user_registration_path , class: "btn btn-success btn-lg"

.section
  .container
    .row.margin-bottom-30
      .col-md-1
      .col-md-10.subtext
        %h2.centered
          Fiskars Village - Home of Finnish art and designers
        %p
          Fiskars is located in the city of Raasepori, the North region, west of Karjaa,
          less than a hundred kilometers west from Helsinki. With the beautiful landscape that changes season to season, Fiskars has become
          the home of many Finnish designers and artists and is a popular travel destination year-round. Check Fiskars Village official website
          =ext_link "here" , "http://www.fiskarsvillage.fi/en/"
        .google-maps
          %iframe{:allowfullscreen => "", :frameborder => "0", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d508454.74987852847!2d23.30456609135263!3d60.14511644385806!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x468dae6a6b79e767%3A0x56c6e7279283f846!2sIsokiskontie+6%2C+10470+Raasepori!5e0!3m2!1sfi!2sfi!4v1496910107235", :style => "border:0"}
      .col-md-1
