- title! "The Camp"
- description! "The camp is an old school in Finland. Accommodation and board is included in the course. Beautiful nature"

.section.fullheight.parallax{:style => "background-image: url('#{image_url("camp/camp_vt.jpg")}'); background-position: 50% 0px;"}
  .container
    .spacer-big
    .big_heading.white
      Welcome to Villa Taika
    .medium_heading.white
      Live and Learn
    .medium_heading
      %a.btn.btn-primary.btn-lg Apply

.section
  .container
    .row
      .blog-post-item.col-md-6.col-sm-6.col-xs-12
        %h2
          Beautiful rooms
        %figure.margin-bottom-20
          #camp-carousel.carousel.slide{"data-ride" => "carousel"}
            %ol.carousel-indicators
              %li.active{"data-slide-to" => "0", "data-target" => "#camp-carousel"}
              %li{"data-slide-to" => "1", "data-target" => "#camp-carousel"}
              %li{"data-slide-to" => "2", "data-target" => "#camp-carousel"}
              %li{"data-slide-to" => "3", "data-target" => "#camp-carousel"}
              %li{"data-slide-to" => "4", "data-target" => "#camp-carousel"}
              %li{"data-slide-to" => "5", "data-target" => "#camp-carousel"}
            .carousel-inner{:role => "listbox"}
              .carousel-item.active
                =image_tag("camp/orange.jpg")
              .carousel-item
                =image_tag("camp/green.jpg")
              .carousel-item
                =image_tag("camp/rose.jpg")
              .carousel-item
                =image_tag("camp/sky.jpg")
              .carousel-item
                =image_tag("camp/lootus.jpg")
              .carousel-item
                =image_tag("camp/saffron.jpg")
            %a.left.carousel-control{"data-slide" => "prev", :href => "#camp-carousel", :role => "button"}
              %span.icon-prev{"aria-hidden" => "true"}
              %span.sr-only Previous
            %a.right.carousel-control{"data-slide" => "next", :href => "#camp-carousel", :role => "button"}
              %span.icon-next{"aria-hidden" => "true"}
              %span.sr-only Next

        %p
          Stay on site in our beautifully decorated rooms.
          %br
          Enjoy the time you'll have to relax.
      .blog-post-item.col-md-6.col-sm-6.col-xs-12
        %h2
          Good food
        %figure.margin-bottom-20
          = image_tag "food.jpg"
        %p
          Healthy, local food gives you strength to carry on.
          %br
          ​Breakfast and lunch are provided and you are free to time and shape your evening intake
          yourself.

.section.fullheight.parallax{:style => "background-image: url('#{image_url("camp/camp_garden.jpg")}'); background-position: 50% 0px;"}
  .container
    .spacer-big
    .big_heading.white
      Relax
    .medium_heading.white
      Recharge your batteries in between work
    .medium_heading
      %a.btn.btn-primary.btn-lg Apply

.section
  .container
    .row
      .col-md-1
      .col-md-10
        %h2.centered
          Villa Taika
        %p.centered
          Just a short flight away, airport pickup included
        .google-maps
          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "450", :src => "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2096774.0474461166!2d19.0465851!3d59.1218444!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x468db1dd24f6fe5b%3A0x9bdbda6312548ef6!2sVilla+Taika!5e0!3m2!1sen!2sfi!4v1461766350016", :style => "border:0", :width => "600"}
      .col-md-1
