= render 'layouts/submenu'

%section.padding-xxs
  .container
    %p.lead
      The topics are listed below, each bullet-point corresponding to a two week cycle or one iteration through the topic.
    .divider.divider-center.divider-color
      %i.fa.fa-chevron-down
    .row
      .col-md-4.col-xs-6
        .text-center
          %i.ico-color.ico-lg.ico-rounded.ico-hover.fa.fa-code
          %h4 Programming
          %p.font-lato.size-20
            %ul
              %li Objects as models
              %li associations / structures
              %li closures / concurrency
              %li other languages
      .col-md-4.col-xs-6
        .text-center
          %i.ico-color.ico-lg.ico-rounded.ico-hover.fa.fa-database
          %h4 Database
          %p.font-lato.size-20
            %ul
              %li object table model
              %li associations
              %li searching
              %li performance /alternatives
      .col-md-4.col-xs-6
        .text-center
          %i.ico-color.ico-lg.ico-rounded.ico-hover.fa.fa-check
          %h4 Testing
          %p.font-lato.size-20
            %ul
              %li testing as assurance
              %li continous testing
              %li rspec
              %li client side testing
