- title! "Diversity Scholarships"

.section.minitron
  %h1 Diversity Scholarships
  %p.lead.centered.font-lato Creating the balance in tech
  %p
    While there has been much talk has been about diversity in tech, the figures are not
    changing very fast. Web Dev Camp, and it's sponsors, want to help change that by offering
    regular scholarships for women and otherwise underrepresented minorities in tech.
  %p
    Scholarships are either 10% or 20% off the normal price, depending on the case.
  %p
    To apply for a scholarship a candidate must apply in the normal fashion and be accepted.
    During the application process she must fill in the finance section of the form that
    she is applying for a scholarship. If a scholarship is available (see below) and she
    is accepted, the scholarship will be granted.
  %p
    Scholarship availability is limited, currently to one place per cohort. Web Dev Camp
    is
    =link_to "looking for companies" , page_path(:sponsor_diversity)
    to increase this number.
