- title! "Web Development Bootcamp"
- description!  "Web dev camp is a web development bootcamp. Students learn web programming in an 8 week course, and live in the school. Board included."

%section.padding-xxs#swiper
  .swiper-container
    .swiper-wrapper
      .swiper-slide
        =image_tag("slider/net.jpg")
        .swiper-overlay
          .row
            .line.left learn the code!
          .row
            .line.right Live-in bootcamp
          .row
            .line.left.pad_ls 8 weeks
          .row
            .line
              &nbsp;
          .row
            .line.right.pad_rm be creative - enjoy coding
      .swiper-slide
        =image_tag("slider/lunch.jpg")
        .swiper-overlay
          .row
            .line.left
              %span.inv Food &
          .row
            .line.left
              %span.inv Accommodation
          .row
            .line.left
              %span.inv  included
          .row
            .line.left.pad_ls
              %span
          .row
            .line.right.delay-1000.pad_lm
              %span.inv Relax in beautiful nature
      .swiper-slide
        =image_tag("slider/group_study.jpg")
        .swiper-overlay
          .row
            .line.left.slideL.pad_lm
              %span.green Small groups
          .row
            .line.right.slideR.delay-2000
              %span.green HTML / CSS / Programming
          .row
            .line
              %span
                &nbsp;
          .row
            .line.left.slideL.delay-1000
              %span.green intensive learning
          .row
            .line.right.slideR.delay-3000.pad_rm
              %span.green Learn to code
      .swiper-slide
        =image_tag("slider/student.jpg")
        .swiper-overlay
          .row
            .line
              %span  &nbsp;
          .row
            .line.left.pad_lm.slideR
              %span Book a flight
          .row
            .line.left.slideR.delay-1000.pad_ls
              %span Bring a laptop, and
          .row
            .line
              %span &nbsp;
          .row
            .line.right.rotR.delay-2000.pad_rm
              %span.bold BECOME a DEVELOPER
    .swiper-pagination
    .swiper-button-next
    .swiper-button-prev
  :javascript
    var swiper_options = { }
%section.padding-xxs
  .container
    .row.clearfix.bordered-grid
      .col-md-4
        .row.bordered-item
          .col-xs-3
            =image_tag("quest/what.jpg" , class: :rounded)
          .col-xs-9
            %p
              Web Dev Camp is a
              %b web development bootcamp.
              Become a web developer in
              8 very intensive weeks of on-site learning!
      .col-md-4.bordered-item
        .row
          .col-xs-3
            =image_tag("quest/why.jpg" , class: :rounded)
          .col-xs-9
            %p
              Programming is very
              %b creative
              and a the increasing use of web technologies almost
              guarantees
              %b employment.
      .col-md-4.bordered-item
        .row
          .col-xs-3
            =image_tag("quest/who.jpg" , class: :rounded)
          .col-xs-9
            %p
              The bootcamp is designed for people who want to
              %b change jobs
              , or as an
              %b alternative to university.
      .col-md-4.bordered-item
        .row
          .col-xs-3
            =image_tag("quest/where.jpg" , class: :rounded)
          .col-xs-9
            %p
              During the course you
              %b live in
              an old village school, in the middle of beautiful finnish
              nature.
      .col-md-4.bordered-item
        .row
          .col-xs-3
            =image_tag("quest/when.jpg" , class: :rounded)
          .col-xs-9
            %p
              Courses start every two months, next on
              %b 29.8
              and
              %b 24.10.
              The course is 6 days a week, at least 9 hours a day.
      .col-md-4.bordered-item
        .row
          .col-xs-3
            =image_tag("quest/how.jpg" , class: :rounded)
          .col-xs-9
            %p
              We teach in
              %b small groups
              using modern techniques.
              You create
              %b real applications
              and build your portfolio.

    .divider.margin-top-30.margin-bottom-80
    .row
      .col-md-12.text-center
        Web Dev Camp's teacher's have
        %b decades of experience
        and started the camp
        in an endeavor to increase
        %b
          diversity in tech.
    .divider.margin-top-80.margin-bottom-30

%section.padding-xxs.dark
  .container
    .row.text-white
      .col-md-6
        %h1.text-center Need Convincing
        %p.lead.text-center
          Watch our marketing guy :-) talk about bootcamps
      .col-md-6
        .embed-container
          %iframe{:allowfullscreen => "", :frameborder => "0",  :src => "https://www.youtube.com/embed/wGFsNA5Hw2s"}
