%section#slider
  .slider
    .layerslider.height-400{:style => "width:100%;"}
      = raw slide1
      = raw slide2
      = raw slide3
    :javascript
      var layer_options = {
        showBarTimer:   true ,
      	responsive: 		false,
      	responsiveUnder: 	1280,
      	layersContainer: 	1280,
      	hoverPrevNext: 		true,
      	skinsPath: 			'/slider/css/'
      }
%section.padding-xxs
  .container
    .row
      .col-md-3
        .heading-title.heading-border-bottom.heading-color
          %h3=link_to "Web" , page_path(:web)
        %p
          The web is still growing and with it the demand for developers.
          Change your profession and your life by learning to create web application.
        =link_to page_path(:web) do
          %span.word-rotator{"data-delay" => "2000"}
            %span.items
              %span More about html
              %span More about css
              %span More about programming
          %i.glyphicon.glyphicon-menu-right
      .col-md-3
        .heading-title.heading-border-bottom.heading-color
          %h3=link_to "Dev" , page_path(:dev)
        %p
          Applications, web, mobile and desktop are converging more and more on web standards.
          We give you a good foundation in programming and current techniques. You decide where to go from there.
        =link_to page_path(:dev) do
          %span.word-rotator{"data-delay" => "2000"}
            %span.items
              %span More about teamwork
              %span More about testing
              %span More about databases
          %i.glyphicon.glyphicon-menu-right
      .col-md-3
        .heading-title.heading-border-bottom.heading-color
          %h3=link_to "Modules" , page_path(:modules)
        %p
          An intensive 8 week program is structured as 4 modules of 2 weeks. Each module will take
          you deeper into the topics of Web Developement, while you choose how to emphasize
          among them.
        =link_to page_path(:modules) do
          %span.word-rotator{"data-delay" => "2000"}
            %span.items
              %span More about course modules
              %span More about course structure
          %i.glyphicon.glyphicon-menu-right
      .col-md-3
        .heading-title.heading-border-bottom.heading-color
          %h3=link_to "Camp" , page_path(:camp)
        %p
          During the course you stay at a beautiful place in the middle of nature.
          Small groups, an iterative teaching approach and the fact that everything else is taken care for you, let you jumpstart your new career.
        =link_to page_path(:camp) do
          %span.word-rotator{"data-delay" => "2000"}
            %span.items
              %span More about where you stay
              %span More about food
          %i.glyphicon.glyphicon-menu-right
    .divider.double-line.margin-top-80.margin-bottom-80
