- title! "The new way of learning"
- description! "Better ways of learning"


.section.no-bborder
  .container
    .row
      %header.centered.margin-bottom-30
        %h1 About learning
        %p.margin-bottom-30
          The old way of learning, the one we all learned in school, is very inefficient at teaching
          what we are interested in, and instead all about making students conform.
          %br
          More details about that
          =link_to "below" ,"#seven"
          , but first some ways to do it
          %b better
    .row
      %h3.centered Debunking myths
    .row
      .col-md-2
        =image_tag "how_we_learnw.jpg"
      .col-md-10
        %p
          Benedicts book is a lot about exposing false views we have been holding. It is not so much
          a scientific book, though all claims are backed by papers, but a guide in how to
          %b improve the efficiency of learning.
          I will just mention the main points (in my understanding) but encourage anyone to read the
          book for themselves.
        .row
          .col-md-3
            %h4 Empty the cup
            Thinking you know
            %br
            reduces learning
            %br
            by about 30%
            %br
            %b test yourself early
          .col-md-3
            %h4 Incubation
            Getting stuck is normal
            %br
            break when stuck, (15 min)
            %br
            the brain keeps working
            %br
            %b Plan to have breaks
          .col-md-3
            %h4 Often, not long
            Better 5 * 1 hour
            %br
            than 1 * 5 hours
            %br
            by about 20 %
            %br
            %b Learn small steps
          .col-md-3
            %h4 Environment counts
            Doesn't have to be quiet
            %br
            Different positions
            %br
            Everything gets baked in
            %br
            %b Vary the environments

    .divider.divider-center.divider-color
      %i.fa.icon-angle-down
    .row
      %header.centered.margin-bottom-30
        %h1 New ways
        %p.margin-bottom-30
          As with Benedicts, it is not so much scientists , as normal people, who build on the
          scientific research to formulate new ways of learning
    .row.margin-bottom-80
      .col-md-6
        %h3.centered
          Learn a language in 6 months
        %p.centered
          Chris Lonsdale's method applies to computer languages quite well
        .row
          .col-md-5
            %b Principles
            %br
            Focus on
            %b relevant
            topics
            %br
            Start using on
            %b day one
            %br
            Understand the message first (comprehensible input)
            %br
            Learning is muscle training
            %br
            Good mood is important
          .col-md-7
            %b Actions
            %br
            Brain soaking (exceed understanding)
            %br
            Understand the meaning (before the words)
            %br
            Creative tryout (fail on purpose)
            %br
            Focus on core (80/20 rule)
            %br
            Get a tutor (language parent)
            %br
            Copy existing solutions
            %br
            Build own imagery

      .col-md-6
        .embed-container
          %iframe{:allowfullscreen => "", :frameborder => "0",  :src => "https://www.youtube.com/embed/d0yGdNEWdn0"}


    .row
      .col-md-6
        .embed-container
          %iframe{:allowfullscreen => "", :frameborder => "0",  :src => "https://www.youtube.com/embed/5MgBikgcWnY"}
      .col-md-6
        %h3.centered
          The first 20 hours
        %p.centered
          How to learn anything in a very effective way in 5 steps
        .row
          .col-md-3
            %b Deconstruct
            %br
            Break it down and define the
            %b goal
            precisely
          .col-md-3
            %b Self correct
            %br
            Achieve enough knowledge to self correct
          .col-md-3
            %b No distraction
            %br
            Switch off tv, mobile.
          .col-md-3
            %b Commit 20 hours
            %br
            Learn enough to overcome initial frustration.
        .row
          .col-md-12
          %br
            %p.centered
              The main barrier to learning is not intellectual but emotional
.section.dark
  .container
    .row.text-white
      %h1.centered#course What about the dark side
      %p.centered
        So if learning is so easy, why don't we do it in school?
        The answer is simple: that is not the objective of school.
        %br
        School's true lessons are well put by Taylor Gatto in
        = link_to "The seven lesson teacher" , "http://www.newciv.org/whole/schoolteacher.txt" , target: :blank
        the main 6 of those lessons are repeated below.
    %row
      .col-md-2
        %h5.lesson
          Accept Confusion
        %p.taught
          Disconnected topics.
          Too much material.
          No natural order of lessons.
      .col-md-2
        %h5.lesson
          Importance of school
        %p.taught
          Punishment for not attending, goading by grades, even against most adults experience
      .col-md-2
        %h5.lesson
          Learn indifference
        %p.taught
          Everything get's interrupted by the bell. So nothing is really important.
      .col-md-2
        %h5.lesson
          Chain of command
        %p.taught
          Teachers absolute rule, no free speech. Suppression of individuality.
      .col-md-2
        %h5.lesson
          Intellectual dependency
        %p.taught
          In effect kids are taught to be stupid and accept expert opinion over their own.
          Conformity is encouraged, curiosity punished.
      .col-md-2
        %h5.lesson
          Provisional self-esteem
        %p.taught
          Children are taught to depend on external opinion, conformity, for their well being.
