- title! "Marketing for web dev camp"
.section.minitron
  %h1 Marketing position
  %p.lead.centered.font-lato
  %p
    Web Dev Camp is a young and lively start-up, started by people who love what they do.
    Joining a small team right at the beginning means lots of fun, flexibility,
    new experiences and initiative. A time when every person counts and you can make a
    real difference.
  %p
    We are looking for a young marketing professional or advanced student to take over
    marketing and social media. Areas of responsibility include:
    %ul
      %li Social media accounts
      %li Social media advertising
      %li Community outreach
      %li Connecting with diversity groups
      %li Attract corporate sponsors
      %li other marketing channels

  %p
    Candidates should
    %ul
      %li Be enthusiastic, self motivated and effective
      %li Care about diversity
      %li Enjoy nature
      %li Be interested in web applications
      %li Have enough experience to tackle the job

  %p
    The job does not necessarily require the applicant to move to Antskog,
    or even Finland. Some time here in the beginning and regular visits may suffice.
    Depending on the applicant, the work can be started with a trial period, or
    a period of part-time work.
  %p
    As compensation we offer
    %ul
      %li salary according to experience
      %li interesting work with social impact
      %li beautiful surrounding (while here)
      %li food and accommodation (while here)
      %li regular travel (to events)
  %p
    %a{:href => "mailto:torsten@webdev.camp"} Send us
    your application.
