- title! "Payment plans"
- description! "Payment plans, pricing"
.section
  .container
    .row
      .spacer-big
    .row
      %header.centered
        %h1 Payment Plans
      %p.centered
        Web Dev camp offers different payment plans for the course, with different degrees of
        flexibility.
        %br
        All plans include
        %b accommodation
        and
        %b full board.
    .row
      .space-30
    .card-deck-wrapper
      .card-deck
        .card
          .card-header
            %h4.card-title.centered Standard
          .card-block
            %h4.card-text
              %sup €
              2100
              %em /module
          %ul.list-group.list-group-flush
            %li.list-group-item
              %b 100% Prepayment
              %br
              %b No Cancellation
            %li.list-group-item
              Student must pay first module to accept placement on the course. Final payment is due
              before the course starts.
            %li.list-group-item
              Cancellation is only possible if there is a serious reason
              %sup *
              %br
              %sup *
              %small
                %small
                  %em injury, disease, death of relative
          .card-footer.centered
            %h4
              %sup €
              8400
              %em / course
        .card
          .card-header
            %h4.card-title.centered Flex
          .card-block
            %h4.card-text
              %sup €
              2400
              %em /module
          %ul.list-group.list-group-flush
            %li.list-group-item
              %b 100% Prepayment
              %br
              %b Easy Cancellation
            %li.list-group-item
              Payment rules as for the standard plan apply.
            %li.list-group-item
              Cancellation is possible at any time and any outstanding whole modules will be refunded.
              No reason need be given, the student is free to choose to stop anytime.
          .card-footer.centered
            %h4
              %sup €
              9600
              %em / course
        .card
          .card-header
            %h4.card-title.centered Super Flex
          .card-block
            %h4.card-text
              %sup €
              2700
              %em /module
          %ul.list-group.list-group-flush
            %li.list-group-item
              %b 1 module prepayment.
              %br
              %b Easy Cancellation
            %li.list-group-item
              Payment for each module is due before the module starts.
            %li.list-group-item
              Cancellation is implicit when the next module is not paid.
              %br
              As with the flex plan, the student may stop anytime.
          .card-footer.centered
            %h4
              %sup €
              10800
              %em / course
