- title! "Payment plans"
- description! "Payment plans, pricing"
.section.minitron
  .container
    %header.centered
      %h1 Payment Plans
    %p.lead.centered.margin-bottom-30
      Web Dev camp offers different payment plans for the course, with different degrees of
      flexibility.
      %br
      All plans include
      %b accommodation
      and
      %b full board.
    .card-deck-wrapper
      .card-deck
        .card
          .card-header
            %h4.card-title.centered Standard
          %ul.list-group.list-group-flush
            %li.list-group-item
              %b 100% Prepayment
              %br
              %b No Cancellation
            %li.list-group-item
              Student must pay first 3 weeks to accept placement on the course.
              Final payment is due before the course starts.
            %li.list-group-item
              Cancellation is only possible if there is a serious reason.
              %sup *
              %br
              %sup *
              %small
                %em injury, disease, death of relative
          .card-footer.centered
            %h4
              9000 €
              %em / course
        .card
          .card-header
            %h4.card-title.centered Flex
          %ul.list-group.list-group-flush
            %li.list-group-item
              %b 100% Prepayment
              %br
              %b Easy Cancellation
            %li.list-group-item
              Payment rules as for the standard plan apply.
            %li.list-group-item
              Cancellation is possible at any time and any outstanding whole 2 weeks will be refunded.
              No reason need be given, the student is free to choose to stop anytime.
          .card-footer.centered
            %h4
              10200 €
              %em / course
        .card
          .card-header
            %h4.card-title.centered Super Flex
          %ul.list-group.list-group-flush
            %li.list-group-item
              %b 3 week prepayment
              %br
              %b Easy Cancellation
            %li.list-group-item
              Payment for each 3 weeks is due before the next 3 weeks start.
            %li.list-group-item
              Cancellation is implicit when the next module is not paid.
              %br
              As with the flex plan, the student may stop anytime.
          .card-footer.centered
            %h4
              11400 €
              %em / course
