- title! "Payment plans"
- description! "Payment plans, pricing"
%section.padding-xxs
  .container
    %header.text-center.margin-bottom-20
      %h1 Payment Plans
    %p.text-center
      Web Dev camp offers different payment plans for the course, with different degrees of
      flexibility.
      %br
      All plans include
      %b accommodation
      and
      %b full board.
    .col-md-4.col-sm-4
      .price-clean
        %h4
          %sup €
          2100
          %em /module
        %h5 Standard
        %hr/
        %p
          %b 100% Prepayment
          %br
          %b No Cancellation
        %hr/
        Student must pay first module to accept placement on the course. Final payment is due
        before the course starts.
        %br
        Cancellation is only possible if there is a serious reason
        %sup *
        %br
        %sup *
        %small
          %small
            %em injury, disease, death of relative
        %hr/
        %h5
          %sup €
          8400
          %em / course

    .col-md-4.col-sm-4
      .price-clean.price-clean
        %h4
          %sup €
          2400
          %em /module
        %h5 Flex
        %hr/
        %p
          %b 100% Prepayment
          %br
          %b Easy Cancellation
        %hr/
        Payment rules as for the standard plan apply.
        %br
        Cancellation is possible at any time and any outstanding whole modules will be refunded.
        No reason need be given, the student is free to choose to stop anytime.
        %hr/
        %h5
          %sup €
          9600
          %em / course
    .col-md-4.col-sm-4
      .price-clean
        %h4
          %sup €
          2700
          %em /module
        %h5 Super Flex
        %hr/
        %p
          %b 1 module prepayment.
          %br
          %b Easy Cancellation
        %hr/
        Payment for each module is due before the module starts.
        %br
        Cancellation is implicit when the next module is not paid.
        As with the flex plan, the student may stop anytime.
        %hr
        %h5
          %sup €
          10800
          %em / course
