%section.padding-xxs
  .container
    %header.text-center.margin-bottom-20
      %h2 Payment Plans
    %p.text-center
      Web Dev camp offers different payment plans for the course. The main difference in these
      plans is the amount of flexibility to discontinue the course.
      %br
      As in air tickets, more flexibility costs.
    %header.text-center.margin-bottom-20
      %h3 Standard
    %p.text-center
      %b 2 week module cost: 2100¢
      %br
      The standard plan requires
      %b 100% prepayment,
      so all 4 modules have to be paid before the course starts. This totals to 8400¢.
      Once a place is offered to a student, the student must pay the first module, ie 2100€ within
      2 weeks to accept the place. The student may pay the total at this point, but if not must
      pay the final 3 modules before starting the course.
      %br
      %b Cancellation
      is possible at any time, but only if there is a serious reason may a refund be applied for.
      Serious reasons include injury or disease of the student that inhibit further studies (doctor
      issued proof) or death or severe injury of close (first order) relatives.
      %br
      The course may also be
      %b interrupted
      for less severe reasons, if mutual agreement with the school management can be reached.
    %header.text-center.margin-bottom-20
      %h3 Flex
    %p.text-center
      %b 2 week module cost: 2400¢
      %br
      The flex plan also requires
      %b 100% prepayment,
      and the same payment rules as for the standard plan apply. The total is 9600¢
      %br
      %b Cancellation
      is possible at any time and any outstanding whole modules will be refunded. No reason
      (severe or otherwise) need be given. In other words the student is free to choose to stop
      at any time.
    %header.text-center.margin-bottom-20
      %h3 Super Flex
    %p.text-center
      %b 2 week module cost: 2700¢
      %br
      The super flex requires
      %b 1 module prepayment.
      %br
      %b Cancellation
      is implicit when the next module is not paid.
      As with the flex plan, no reason is necessary to discontinue.
      
