- title! "Privacy Statement"
- description! "Privacy Statement"

.section.no-bborder
  .container
    .row
      .col-md-1
      .col-md-10
        %h1 PRIVACY POLICY
        %p
          Description of Personal Data File of Web Dev Camp’s (“WebDev”) a subsidiary of
          Lightning Raisa &amp; Torsten Oy) user register in accordance with section 10 of
          the Finnish Personal Data Act (523/1999)
        %p
          %h5 DATA FILE CONTROLLER
          %br
          Web Dev Camp, a subsidiary of Lightning Raisa &amp; Torsten Oy
          %br
          Business ID 23804781
          %br
          Fiskarsintie 513  10480 Antskog  Finland
        %p
          %h5 REPRESENTATIVE OF THE CONTROLLER
          %br
          Torsten Ruger
          %br
          +358 40 730 8052
          %br
          info@webdev.camp
        %p
          %h5 NAME OF THE DATA FILE
          %br
          WebDev User Register

        %p
          %h5 PURPOSE OF THE DATA FILE
          %br
          Personal data is processed only for the purposes of carrying out applications, customer inquiries, transactions, customer surveys, estimating/approving applications, arranging courses, reporting, marketing and other measures related to the WebDav camps and/or customership.

        %p
          %h5 DATA SUBJECTS
          %br
          WebDev’s users and customers.
        %p
          %h5 CONTENTS OF THE DATA FILE
          %br
          Personal details of the customer/user:
          %br
          First and last name of the user/customer, WebDev user/customer number, postal address, phone number and e-mail address especially for the invoicing purposes.

          %br
          Information relating to the customer/user:
          %br
          Educational and occupational history, information about attended course(s) and other information provided by the user.

          %br
          Registered customer/user additional information:
          %br
          Username and password.

          %br
          WebDev has no access to the customer’s payment card information and no such information is stored in WebDev’s system or in the WebDev User Register. However,
          %br

          Sensitive data (as defined in the Personal Data Act) is not collected. However, WebDev does not check the validity and has no possibilities to monitor the nature of the data.

        %p
          %h5 SOURCES OF DATA
          %br
          Data is acquired directly from the customer/user when the customer/user applies for WebDev’s courses or registers as a web service user.

        %p
          %h5 COOKIES
          %br
          WebDev uses cookies on its website in order to track the website’s traffic and to improve the quality of the service.

        %p
          %h5 REGULAR DESTINATIONS OF DISCLOSED DATA
          %br
          None.

        %p
          %h5 RIGHT OF ACCESS
          %br
          In accordance with the Personal Data Act, each customer/user has the right of access to the his/her own data in the WebDev User Register and/or other database in order to check what information is recorded in the file.
          %br

          The request for access must be made in writing, in a signed document sent to the following address:
          %br
          Fiskarsintie 513
          %br
          10480 Antskog
          %br
          Finland
          %br

          The requested information concerning the customer’s/user’s data shall be sent by email to the email address of the customer/user, which has been specified in the order, support and/or registration form when submitting the form.

        %p
          %h5 DATA FILE PROTECTION
          %br
          The WebDev Customer Register is kept confidential.
          The register is properly secured with firewalls and other technological measures.
          Data is printed out manually only when so needed.
        %p
          %br
          Law services provided by
          =link_to "AKG Attorneys-at-Law Ltd" , "http://www.akg.fi/pages/in-english.php" , target: :blank
