- title! "House rules"

.section.no-bborder
  .container
    .row
      .col-md-12
        %h1 House rules
        %p
          The course is 9 weeks and during that time students live closely together.
          House rules are meant to establish a common understanding of what constitutes
          acceptable behaviour. This is mostly just common sense, but to avoid misunderstandings
          they are written down here.
        %p
          The rules are based on the idea of warning and strikes. In general light offences
          result in warnings, several warnings or stronger offences result in a strike, and
          the third stike results in the student being expelled.
        %p
          During the course we want everyone to  feel safe and comfortable. The aim is not to
          restrict personal expression.

        %h2 Warnings
        %p
          Not adhering to the rules below results in a warning. Two or more warnings of the same
          or different offences result in a strike. It is at the discression of the
          teachers to judge the severity of the offences and issue the strikes accordingly.
        %h3 Night rest
        %p
          Night rest is between 22:00 and 7:30. Students are expected to respect others need for
          rest as the course is intense. Music from speakers, stomping, door banging, night showers,
          loud talking or laughing are examples.
        %h3 Participation
        %p
          Students are expected to participate in courses and project work. Non-participation
          of one has negative effect on group performance and moral. As groups are small this is
          felt strongly. Examples for non-participation are not doing homework, not working during
          class hours, not coming to classes, or coming late.

        %h3 No disturbing classes
        %p
          Students may not disturb the classes. This is includes making noises, talking, calling,
          interrupting and drawing the discussion off topic. Also the use of devices, unless asked to.

        %h3 Inappropriate behaviour
        %p
          Students should be respectful towards each other and teachers. Snide remarks, undermining,
          passive aggressiveness, negative criticism and cussing is not appropriate.

        %h3 Cleanliness
        %p
          Students are expected to clean after themselves in common spaces. This includes dishes,
          cups, bottles etc after usage. Also private items like clothes, chargers or devices
          are not to be left lying around, especially in the way (eg on chairs, sofas)
        %p
          Students are also expected to keep the living quarters clean. This means no rubbish or
          personal items on the floor and appropriate usage of shelve and cuppoard space.

        %h3 Chores
        %p
          Students are expected to participate a little in the running of the place. This means
          a rota for things like emptying public rubbish bins, setting and cleaning the table
          will be agreed upon.

        %h2 Strikes
        %p
          More severe offences constitute a strike, students may be expelled after three strikes.

        %h3 Drug usage
        %p
          Usage of any illegal substances is not allowed at Web Dev Camp. Also, while alcohol is
          legal, strong intoxication leading to misbehaviour is also not tolerated.

        %h3 Sexual abuse
        %p
          Unwanted sexual attention is not appropriate. Also mutual sexual liaisons are not permitted.

        %h3 Stealing
        %p
          Students are expected to respect ownership boundaries, towards student and Web Dev Camp
          items. Excuses like calling it borrowing when there was no consent are not accepted.

        %h3 Physical violence or abuse
        %p
          Physical violence and abuse is not tolerated. Physical and sexual offences may
          directly lead to expulsion, ie an offence may be seen as several strikes 
          depending on severity.

        %h2 Expulsion
        %p
          Expulsion happens after three strikes. By then, this should not come as a surprise and may
          not be disputed by the student.
        %p
          When expelled the student is obliged to leave the premises on the same day and given
          minimal time (1-2 hours) to pack, so school can resume as quickly as possible.
        %p
          Web Dev camp has no obligation to assist in the students practical difficulties (transport
          or accommodation) arising from this situation. Prepayment for full weeks will be returned.
