%section.padding-xxs
  .container
    .row
      .col-sm-12
        %header.text-center.margin-bottom-20
          %h2 Sponsoring Web Dev Camp
        %p.text-center
          Web Dev Camp is looking for sponsors and can offer companies the benefits below.
    .row
      .col-sm-6
        %header.text-center.margin-bottom-20
          %h3 Developer sourcing
        %p
          Web development is an area that grows so fast that there seems to be a constant need for
          developers. Many companies have difficulties recruiting as fast as they wish to grow.
          %br
          An ideal new employee could start being productive right away. But web development is
          not construction and so
          %b even experienced developers have to be brought up to speed
          , taught the companies unique stack of technical solutions.
          %br
          As an initial training seems inevitable companies have realized that younger developers can
          be useful for a variety of tasks. Since they have to be trained anyway, that main
          requirement is a basic set of knowledge. Web Dev Camp teaches exactly that set of basic skills
          so that
          %b graduates become productive in basic tasks very quickly.
          %br
          Companies that have realizes the usefulness of this approach can sponsor Web Dev Camp and
          receive up to the minute trained young professionals.
      .col-sm-6
        %header.text-center.margin-bottom-20
          %h3 Insourcing
        %p
          The size and importance of web projects means that it companies need to have
          %b web development experience in house.
        %p
          Instead of outsourcing the whole process, it is better to have some expertise
          in house. This may range from a single technical advisor to building a small team
          that participate in the initial construction and then performs maintenance.
          %br
          Often it can be
          %b easier to teach an existing domain expert
          the technical knowledge, than to
          teach an outside technical person the domain. Also, this leaves the company with more
          knowledge in house, vs having to spend time to teach an outsider only to have both that
          and the technical knowledge vanish after the project is completed.
    .row
      .col-sm-6
        %header.text-center.margin-bottom-20
          %h3 Developer training
        %p
          Companies that have web or programming expertise may use Web Dev Camp as a
          %b training camp for their developers.
          %br
          Anyone who has ever taught can attest to the fact that you don't really know a subject until
          you have taught it. Only when we are bombarded with the strange question that only a beginner
          can have, and have to explain the subject not only in our own words, but in the words of the
          student, do we really make the step from thinking we know, to knowing.
          %br
          Companies who realize the benefit of this may partner with Web Dev Camp for a regular
          teacher exchange.
      .col-sm-6
        %header.text-center.margin-bottom-20
          %h3 Project mockups
        %p
          Companies often create a mockup before embarking on the real project. For example to
          %b establish technical feasibility , usability
          and more often also for requirement gathering.
          %br
          Doing web application mockups can be prohibitively expensive, especially for smaller companies
          or departments.
          %b Web Dev Students can create mockups,
          especially in their final weeks.
          %br
          The approach is especially constructive if a representative of the company is on the
          course, either as a teacher, or student.
