- title! "Sponsor diversity"
.section.minitron
  %h1 Support Diversity With Your Sponsorship
  %p.lead.centered.font-lato
    Join Web Dev Camp
    = link_to "to further diversity" , page_path(:diversity_scholarships)
    in tech.
  %p
    Web Dev camp's
    = link_to "diversity scholarships" , page_path(:diversity_scholarships)
    are funded by companies wishing to make a pro diversity statement and help
    industry become more balanced.
  %p

    %ul
      %li Advertise your commitment on your web page
      %li Share your commitment socially
      %li Placement on Web Dev Camp web page
      %li Advertised on Web Dev Camp's social channels

  %p
    You can either sponsor a whole, or half a scholarship. Off course half year and
    yearly commitments are possible too.
    %a{:href => "mailto:info@webdev.camp"} Contact us
    for details.
