%section.padding-xxs
  .container
    %header.text-center.margin-bottom-20
      %h2 Teaching opportunities
      %p.lead.font-lato You learn most by teaching
    %p.text-center
      Web Dev Camp is looking for working professionals who are ready to test their knowledge,
      by having it questioned in the most rigorous way. By the untrained mind.
      %br
      If you think you know your stuff, be it html, css, programming or any web related topic, we
      invite you to test that knowledge. And we can almost guarantee that you will learn just as
      much as the students.
    %p.text-center
      Web Dev Camp offers teaching "breaks" from 1-4 weeks. Compensation includes accommodation in
      the beautiful
      =link_to "Villa Taika" , "http://villataika.fi/en/" , target: :blank
      , full board, possibly for your partner too.
      Depending on your experience and length of stay the flight and more many be negotiated.
      %br
      Working hours can be negotiated and will largely be
      compromised of tutoring and one-on-one teaching, plus a small amount of frontal teaching for
      small groups.
      %br
      After hours, and especially after the teaching, you can explore Finland.

  .container
    %header.text-center.margin-bottom-20
      %h2 Sponsors
      %p.text-center
        Companies have several ways to sponsor Web Dev Camp. Read more
        =link_to "here" , page_path(:sponsoring)
