- title! "Terms and conditions"
- description! "Terms and conditions"

%section.padding-xxs.no-bborder
  .container
    .row
      .col-md-1
      .col-md-10
        %h1 Terms and Conditions
        %p
        Currently being formulated by
        =link_to "AKG Attorneys-at-Law Ltd" , "http://www.akg.fi/pages/in-english.php" , target: :blank
