- title! "Terms and conditions"
- description! "Terms and conditions"

.section.no-bborder
  .container
    .row
      .col-md-1
      .col-md-10
        %h1
          Terms and Conditions
        %p
          BEFORE YOU CONTINUE THE USAGE OF WEBDEV.CAMP WEBPAGE (“WEBPAGE”) AND/OR BEFORE YOU SIGN IN AND/OR BEFORE YOU APPLY TO ANY COURSES OFFERED BY WEBDEV, PLEASE READ CAREFULLY THE TERMS AND CONDITIONS (“TERMS”) HEREIN IN THIS THIS AGREEMENT (“AGREEMENT”).
          THE AGREEMENT SHALL GOVERN THE PERSONAL USAGE BY YOU, AN INDIVIDUAL, OF THE WEBPAGE, ONLINE SERVICES (INCLUDING SOFTWARE) AND MATERIAL (“WEB DEV CAMP MATERIAL”) OWNED BY WEB DEV CAMP, A SUBSIDIARY OF LIGHTNING RAISA & TORSTEN OY (“WEBDEV”). THIS AGREEMENT SHALL ALSO GOVERN THE TERMS AND CONDITIONS FOR YOUR APPLYING AND ATTENDING FOR THE WEBDEV CAMP COURSES (“COURSES”). SERVICES OFFERED BY WEBDEV AND AS SET OUT IN DETAIL HEREINBELOW IN SECTION 1 SHALL LATER BE REFERRED TOGETHER AS “WEBDEV SERVICES”.
          BY SELECTING “I AGREE” AND/OR BY CONTINUING TO USE OF WEBDEV WEBPAGE OR WEBDEV CAMP MATERIAL, OR BY APPLYING TO WEBDEV CAMPS YOU ARE CONSENTING TO BE BOUND BY THIS AGREEMENT AND ARE BECOMING A PARTY OF THIS AGREEMENT (BETWEEN YOU AND WEBDEV). WEBDEV MAY PROVIDE WEBDEV SERVICES, COURSES AND/OR WEBDEV CAMP MATERIAL (OR PARTS THEREOF) BY USING ITS GROUP COMPANIES, CO-OPERATING COMPANIES AND/OR SUB-CONTRACTORS.
          WEBDEV’S COLLECTION AND USE OF PERSONAL INFORMATION SHALL BE STIPULATED IN WEBDEV’S PRIVACY POLICY PUBLISHED AT HTTPS://WEBDEV.CAMP/PRIVACY. BY SELECTING “I AGREE” AND/OR BY CONTINUING THE USAGE OF WEBDEV SERVICES, YOU ACCEPT THE PRIVACY POLICY VALID AT THE TIME OF YOUR USAGE OF WEBDEV SERVICES.
          IF YOU DO NOT AGREE TO ALL OF THE TERMS OF THIS AGREEMENT CLICK ON THE “CANCEL” BUTTON AND/OR STOP THE USAGE OF WEBDEV SERVICES. IN THIS CASE, YOU MAY NOT USE THE WEBPAGE OR WEBDEV CAMP MATERIAL OR ATTEND COURSES ANY FURTHER IN ANY MANNER.


        %h1
          GENERAL TERMS
        %h2
          1. The WebDev Services
        %p
          1.1. A description of the WebDev Services (including Courses) together with the times during which the WebDev Services are offered are available on the Webpage. WebDev shall provide the WebDev Services with reasonable care and professionalism in accordance with the descriptions set out on the Webpage.
        %p
          1.2. WebDev reserves the right to change or withdraw any of the WebDev Services described on the Webpage without notice.
        %p
          1.3. You confirm that the WebDev Services you are using and/or applying for will meet your needs.  WebDev shall not give any guarantee to you that you will obtain a particular result, professional qualification or employment opportunity from your purchase and completion of any of the WebDev Services. The purpose of the WebDev Services is to help you learn programming and coding skills, but WebDev cannot promise any progress or success in your learning process.
        %h2
          2. WebDev Camp Material and License
        %p
          2.1. When you select “I Agree” and/or by continuing the usage of WebDev Camp Material, owned by WebDev (also the “Provider”), WebDev grants you (the “User”) a non-exclusive, non-transferable and revocable license (“License”) for access and use of the accompanying WebDev Camp Material, including (if applicable) electronic documentation and associated material. This Agreement is not to be construed as a sale of any rights in WebDev Services or WebDev Camp Material or software within. You shall be responsible for obtaining the needed equipment and internet connection to access WebDev Camp Material (or any part thereof).
        %p
          2.2. The term of your License shall commence on the date that you accept this Agreement and when you continue using WebDev Camp Material (or any of its individual part) in any manner. The License permits you to “Use” (as hereinafter defined) Webdev Camp Material on your personal system(s). System requirements are listed here: https://webdev.camp/answers; the “System”) for your personal use during the Courses only upon and subject to Terms contained herein. WebDev Camp Material (including its individual parts and material) may NOT be transferred electronically from one System to another nor made otherwise available for other potential users. The User shall not have access to WebDev Camp Material or software within, or any related materials after the Course has ended.
        %p
          2.3. In this Agreement, “Use” shall mean and include utilization of the WebDev Camp Material by copying, transmitting or loading the same into the memory of the System for the processing of the System instructions or statements possibly contained in each Web Dev Camp component. Separate terms and conditions may apply (including but not limited to promotions, marketing campaigns and using Web Dev Camp via a third-party component). The usage of any and all third-party components may require undertaking separate terms and conditions. This Agreement is applicable only between you and the Provider.
        %p
          2.4. Upon accepting these Terms, you undertake (subject to rights you may have according to mandatory provisions of applicable laws):
          not to copy WebDev Camp Material in any manner (other than for enabling its or its part’s normal operation) nor to disassemble, decompile or reverse engineer the software within;
          not to translate, modify, lease, rent, loan, redistribute, sub-lease, sub-license or otherwise transfer or create derivative works from WebDev Camp Material in whole or in part;
          to supervise and control the Use of the WebDev Camp Material in accordance with the Terms;
          not to provide or otherwise make available WebDev Camp Material to any other person;
          not to display the WebDev Camp Material by any unauthorized means;
          not to use WebDev Camp Material for immoral, illegal or for any other purposes which may be determined threatening, abusive, harmful or against good practice; and
          immediately after the date of termination or discontinuance of this Agreement, stop the Use.
        %h2
          3. Warranty Disclaimer, Limitation of Liability and Basis of the Bargain
        %p
          3.1. EXCEPT AS EXPRESSLY SET FORTH IN THIS CLAUSE 3, WEBDEV SERVICES SHALL BE FURNISHED BY THE PROVIDER AND ACCEPTED BY THE USER “AS IS”, WITH ALL FAULTS, WITHOUT ANY WARRANTY WHATSOEVER. YOUR USE OF WEBDEV SERVICES IS AT YOUR SOLE AND OWN RISK. ALL OTHER WARRANTIES, EXPRESS OR IMPLIED, INCLUDING ANY WARRANTIES OF OR AGAINST INTERFERENCE WITH THE ENJOYMENT OF THE INFORMATION, INFRINGEMENT, ACCURACY, COMPATIBILITY WITH OTHER PRODUCTS OR SERVICES, INTEGRATION, TITLE, MERCHANTABILITY OR FITNESS FOR ANY PARTICULAR PURPOSE, ARE SPECIFICALLY EXCLUDED AND DISCLAIMED BY THE PROVIDER. THE PROVIDER DOES NOT WARRANT THAT THE WEBDEV SERVICES PROVIDED HEREUNDER WILL MEET THE USER’S REQUIREMENTS OR THAT IT WILL BE UNINTERRUPTED OR ERROR FREE OR HELP THE USER TO LEARN CODING. WHERE THE LAWS OF ANY COUNTRY OR STATE IN which this Agreement is effective implies into this Agreement any term, condition or warranty, and those laws avoid or prohibit provisions in a contract excluding or modifying them, then the term, condition or warranty shall be deemed to be included in this Agreement,  PROVIDED THAT PROVIDER's  liability for a breach of any such term, condition or warranty, including any economic or consequential loss which USER may sustain, shall be limited to the maximum extent permitted by the law of that country or state.
        %p
          3.2. IN NO EVENT SHALL THE PROVIDER BE LIABLE TO THE USER OR ANY OTHER PERSON FOR ANY LOST PROFITS, LOST SAVINGS, LOST DATA, OR OTHER SPECIAL, INDIRECT, PUNITIVE, CONSEQUENTIAL, OR INCIDENTAL DAMAGES ARISING OUT OF OR RELATING TO THIS AGREEMENT OR WEBDEV SERVICES (OR PARTS THEREOF) FURNISHED OR TO BE FURNISHED UNDER THIS AGREEMENT OR THE USE THEREOF, EVEN IF THE PROVIDER HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH LOSS OR DAMAGE. THE AGGREGATE LIABILITY OF THE PROVIDER UPON ANY CLAIMS HOWSOEVER ARISING OUT OF OR RELATING TO THIS AGREEMENT OR THE WEBDEV SERVICES FURNISHED OR TO BE FURNISHED BY THE PROVIDER UNDER THIS AGREEMENT OR THE USE THEREOF SHALL IN ANY EVENT BE ABSOLUTELY LIMITED TO THE AMOUNT PAID BY THE USER UNDER THIS AGREEMENT FOR THE WEBDEV SERVICE (E.G. COURSE) IN QUESTION.
        %p
          3.3. Basis of the Bargain; Failure of Essential Purpose. The User acknowledges that the Provider has entered into this Agreement in reliance upon the Warranty Disclaimer and Limitation of Liability set forth in this Agreement, and that the same form an essential basis of the bargain between the parties. The parties agree that the Limitation of Liability specified in this Agreement shall survive and apply even if the Warranty Disclaimer or any limitation of remedies is found to have failed of its essential purpose. Notwithstanding the foregoing, nothing contained herein shall limit the Provider liability regarding damages caused by its willful misconduct or gross negligence. In addition, this Agreement may not diminish your rights as a customer according to applicable legislation.
        %h2
          4. Intellectual Property Rights
        %p
          4.1. All copyrights, trademarks and other intellectual property rights subsisting in or used in connection with WebDev Services are and remain the sole and exclusive property of the Provider and/or its licensors. The User shall only have a limited right to Use WebDev Services (e.g. the WebDev Camp Material) in accordance with the provisions of this Agreement. All other rights are expressly reserved to the Provider.
        %h2
          5. Other Terms
        %p
          5.1. This Agreement represents the complete agreement between the parties concerning its subject matter. The Provider reserves the right to change, modify, add or remove terms of this Agreement. The revised Terms shall be included in the Webpage and the Provider shall place a notification of the renewed Terms to the same Webpage. Modifications shall become effective fourteen (14) days after a notice to this effect has been sent to you or after you have accepted a revised Agreement, whichever the earlier. The Provider has always a right to make changes to WebDev Camp Material (or any part thereof) in order to develop and improve it. The Provider reserves the right to discontinue the provision of WebDev Services (or any part thereof) at any time and for any reason.
        %p
          5.2. In the event that any provision of this Agreement shall be held invalid as contrary to any law, statute or regulation in that regard, the invalidity of such provision shall in no way affect the validity of any other provision of this Agreement and each and every provision shall be severable from each and every other.
        %p
          5.3. No failure or delay of the Provider in exercising its rights hereunder (including but not limited to the right to require performance of any provision of this Agreement) shall be deemed to be a waiver of such rights unless expressly made in writing by the Provider.
        %p
          5.4. This Agreement shall be governed by and construed exclusively in accordance with the laws of Finland, excluding its choice of law provisions. The United Nations Convention for the International Sale of Goods shall not apply. This Agreement shall be deemed “in writing” and “accepted” by both parties. Any dispute, controversy or claim arising out of or relating to this Agreement, or the breach, termination or validity thereof, shall be finally settled (if no amicable solution is found) in the Finnish language, in the district court of Helsinki. English language, however, in which this Agreement has been drafted shall also be the language to be used in all documents and correspondence related to the execution of this Agreement unless specifically otherwise agreed between the parties or stated in this Agreement.
        %p
          5.5. This Agreement sets forth and contains the entire understanding between the parties in respect of this matter and any and all previous correspondence, memoranda, minutes of meetings, offers, inquiries, agreements, understandings, promises, representations and other documents or oral communication shall be cancelled and superseded by this Agreement.

        %h1
          SPECIFIC TERMS REGARDING THE COURSES
        %p
          1. You may apply for the Courses as set out on the Webpage. WebDev has no obligation to accept any of the applications provided via the Webpage. If not set out otherwise on the Webpage, each Course shall consist of nine (9) weeks of teaching, six (6) days a week, 8 hours a day. Therefore, WebDev especially takes into consideration and emphases the motivation of the applicant (“Applicant”), when studying the applications.
        %p
          2. Each approved Applicant shall agree on a payment plan as set out on the Webpage. The Course fees (prepayment and final payment) shall include three meals a day, shared accommodation for the duration of the Course, transportation from the Helsinki Airport and help with job applications.
        %p
          3. Each approved Applicant shall make the prepayment after WebDev’s approval of the Applicant. The final payment shall be made prior to the start of the Course. If the final payment is not made WebDev shall have the right to cancel the Applicant’s attendance to the Course, without returning the prepayment.
        %p
          4. The Applicant shall agree to attend all of the Course lessons and to try perform at his/her best during the Course. The Applicant shall agree not to take pictures, film or record in any way the teaching or the WebDev Camp Material or related material provided during the Course without prior written consent from WebDev. The Applicant shall also agree to comply with the house rules (“House Rules”) provided in a separate link in Webpage valid at the time of the Course. The Applicant shall act in accordance with the House Rules and thus in a proper and polite way during the Course lessons and during free time.
        %p
          5. WebDev shall have the right to cancel the Applicant’s attendance to the Course if the Applicant acts in a deceitful way or tries to commit fraud or other illegal activities during the Course or before the Course begins; gives intentionally or unintentionally deceitful information for the application; acts in abusive, threatening, aggressive or bullying way towards other Applicants, WebDev personnel or third parties during the Course; is found to be intoxicated through alcohol or illegal drugs during the Course education; intentionally damages the property of third parties, other Applicants or WebDev during the Course; fails to comply with the House Rules in other ways; copies the WebDev Camp Material or related material provided during the Course without prior written consent from WebDev; uses third party products for completing the Course without prior written consent from WebDev; cheats or plagiarises any work the Applicant is required to submit or prepare during the Course or if the Applicant is found to be in breach with any of the Terms set in this Agreement.
          In the event that you are found to be in breach with any of the Terms set in this Agreement, you shall immediately cease using WebDev Services including, but not limited to, WebDev Camp Material and other material provided. You shall also return any WebDev Camp Material or other material provided during the Course. In the event of termination, you shall without delay collect your belongings and leave the accommodation. In such an event WebDev shall return your payment(s) proportionally and rounded to one (1) week. However, WebDev shall have no obligation to cover any of your costs for leaving the premises of the accommodation or your costs due to change in transportation schedules in such event.
        %p
          6. After applying to the Course you shall have a 14-day cancellation period in accordance with mandatory Finnish legislation, during which you may cancel the application with no particular reason and with no fees/charges. You shall not have any cancellation rights according to mandatory legislation if the Course, for which you have applied, begins within the aforesaid 14-day cancellation period. However, in the event of illness (certificate may be required), you have the right to cancel your attendance to the Course and take part to the next similar Course available, provided that you have notified WebDev regarding your illness promptly. In the event you are not able to participate to similar later Course, WebDev shall be obligated to return payments you have made, including the prepayment, but excluding the possible administrative costs arisen.
        %p
          7. WebDev shall not be liable to you for any breach of its obligations or termination under these terms and conditions arising from causes beyond WebDev’s reasonable control, including, but not limited to, fires, floods and other Acts of God, terrorism, delay caused by transport disputes, failure to provide a Course caused by a death in the teacher’s family or illness of the teacher.
        %p
          8. This Agreement may only be accepted and the Course(s) attended by an adult (at least 18-years-old). In connection of Use you might need to provide e.g. your contact information. No payment details (e.g. credit card credentials) are saved into WebDev Services. You undertake to keep your information up-to-date and WebDev informed of any changes prior to the beginning of the Course. You may only use one (1) account and this account (as well as your License) may not be assigned to any other person, while each Applicant is studied and approved separately.
        %h2
          PRIVACY POLICY ACCEPTANCE
        %p
          By accepting this Agreement, you agree that your personal data may be processed in accordance with the Privacy Policy valid during your Use of WebDev Services. The Provider has no access to the User’s payment information and no such information is processed by the Provider.

        %p

          Law services provided by
          = ext_link "AKG Attorneys-at-Law Ltd" , "http://www.akg.fi/pages/in-english.php"
