= render 'layouts/submenu'

%section.padding-xxs
  .container
    %p.lead
      The topics are listed below, each bullet-point corresponding to a two week cycle or one iteration through the topic.
    .divider.divider-center.divider-color
      %i.fa.fa-chevron-down
    .row
      .col-md-4.col-xs-6
        .text-center
          %i.ico-color.ico-lg.ico-rounded.ico-hover.fa.fa-html5
          %h4 Html
          %p.font-lato.size-20
            %ul
              %li boxes in boxes / haml
              %li dom, html's api
              %li dynamic generation
              %li client applications
      .col-md-4.col-xs-6
        .text-center
          %i.ico-color.ico-lg.ico-rounded.ico-hover.fa.fa-css3
          %h4 Css
          %p.font-lato.size-20
            %ul
              %li stickers on the box / sass
              %li bootstrap / frameworks
              %li semantic css / susy
              %li breakpoints / mobile first
      .col-md-4.col-xs-6
        .text-center
          %i.ico-color.ico-lg.ico-rounded.ico-hover.fa.fa-github
          %h4 Teamwork
          %p.font-lato.size-20
            %ul
              %li roles
              %li git basics
              %li advanced git
              %li communication, open source
