.toggle.mix.application
  %label Do i need to be able to program before applying ?
  .toggle-content
    %p.clearfix
      In short: at least a little.
      %br
      We start the course from zero, so basically you wouldn't need to be able to program.
      BUT: How will you know this is right for you without having tried it.
      %br
      Programming is quite different than one might think. It has lots of structure, but
      is also very creative. It is an neverending learning process, meaning one never has
      as much knowledge as one wants and one is heavily and often frustratingly dependent
      on other peoples work.
      %br
      We believe that if you haven't tried it, you should do at least an online course or
      railsgirls weekend to see if it really is what you want.
      %br
      We will test your ability to solve problems in the interview, but not programming
      skills.
.toggle.mix.application
  %label How long do i need to apply for in advance ?
  .toggle-content
    %p.clearfix
      You should leave your application about 2 weeks before your first starting date.
      %br
      You can take as much time as you need to fill out your personal information, and when you
      leave the application you can specify up to three starting dates.
      %br
      Once we have your application, we will review it and possibly ask you for more information or
      clarification. Then we schedule a skype interview, and once that is done it is one to two
      weeks before we make a decision about the application.
      %br
      Upon receiving an invitation to join, you will have two weeks to transfer initial funds,
      unless you have chosen super-flex plan.
      %br
      With good preparation and the super-flex, you can push it down to one month, otherwise
      two or more are best.
.toggle.mix.application
  %label I already know how to program XXX, but don't know web technologies, can i still join ?
  .toggle-content
    %p.clearfix
      Ultimately it is your choice off course and depends a lot on you and your self motivation.
      %br
      If, for example, you have coded c for less than 2 years and have never done any web, then
      yes, it may be a very good idea to join. The advantage you have is quite small and will only
      mean that you have more time to deepen your knowledge in Web technologies.
      %br
      Say you have tought yourself javascript and done several web-sites for friends. You know
      about html, the dom maybe even node. IN that case it may be better to aim for an internship
      directly and read a few of the books we recommend.
.toggle.mix.application
  %label What are you testing for in the interview, how can i prepare ?
  .toggle-content
    %p.clearfix
      The best thing to do is familiarise yourself with the course and be very clear on your
      motivation.
      %br
      We do not test programming skill at all, rather we try to evaluate your analytical thinking.
      %br
      Also we are very interested in your motivation, what has lead you to apply, what you think
      you will do after, how do you justify the spending to yourself, how indeed you will fund
      yourself.
      %br
      Lastly we try to evaluate your communication and emotional skills to see how you will deal
      with the inescapability of co-living while doing intense work.
