.toggle.mix.application
  %label Do i need to be able to program before applying ?
  .toggle-content
    %p.clearfix
      In short: at least a little.
      %br
      We start the course from zero, so basically you wouldn't need to be able to program.
      BUT: How will you know this is right for you without having tried it.
      %br
      Programming is quite different than one might think. It has lots of structure, but
      is also very creative. It is an neverending learning process, meaning one never has
      as much knowledge as one wants and one is heavily and often frustratingly dependent
      on other peoples work.
      %br
      We believe that if you haven't tried it, you should do at least an online course or
      railsgirls weekend to see if it really is what you want.
      %br
      We will test your ability to solve problems in the interview, but not programming
      skills.
