.toggle.mix.application
  %label Do I need to be able to program before applying?
  .toggle-content
    %p.clearfix
      In short: at least a little.
      %br
      Since you will spend 8 solid weeks programming, with the intent of making it your carreer,
      you should know what you're getting into.
      %br
      Not being able to program and wanting to start a bootcamp may be comparable to not having run
      5 kilometers, but wanting to train for marathon. The step is too big, and we don't want
      you to break down half way anymore than you do.
      %br
      Basic online tutorials, and lots of meetups are a good way to learn some programming and
      get a feel of whether it is right for you. (also see the next question)

.toggle.mix.application
  %label How can I best prepare for the course?
  .toggle-content
    %p.clearfix
      Get familiar with the tools. Most work is done with an editor, the command-line and a browser
      developer tool, so get to know each. We suggest
      = succeed "," do
        =link_to "Atom" , "https://atom.io/" , target: :blank
      =link_to "Iterm" , "https://www.iterm2.com/" , target: :blank
      and either safari or chrome developer tool. Fiddle around, get familiar, do some tutorials,
      read up.
      %br
      Whatever editor you choose, practice keyboard shortcuts. Most of the work is typing,
      getting better at that will speed you up, once here.
      %br
      Do some programming tutorials online to prepare. We recommend
      = succeed "," do
        =link_to "Try Ruby" , "http://tryruby.org/" , target: :blank
      =link_to "CodeSchool" , "https://www.codeschool.com/learn/ruby" , target: :blank
      and
      =link_to "Khan Academy" , "https://www.khanacademy.org/computing/computer-programming/html-css" , target: :blank

.toggle.mix.application
  %label How long in advance do I need to apply for the program?
  .toggle-content
    %p.clearfix
      You should finish your application at least 4 weeks before your first starting date (see below).
      %br
      You can take as much time as you need to fill out your personal information,
      and when you finish the application you can specify up to three starting dates.
      %br
      Once we have your application, we will review it and possibly ask you for more information
      or clarification. Then we will schedule a Skype interview, and once that is done, there is
      typically a one to two week waiting period before we make a final decision about your application.
      %br
      Upon receiving an invitation to join, you will have two weeks to transfer initial funds,
      unless you have chosen the super-flex plan.
      %br
      With good preparation and the super-flex plan, you can complete the process within one month,
      though we encourage two or more months to plan successfully.
.toggle.mix.application
  %label I already know how to program XXX, but don't know web technologies, can I still join?
  .toggle-content
    %p.clearfix
      Ultimately, it is your choice, of course, and the decision depends a lot on you and your motivation.
      %br
      If, for example, you have coded c for less than 2 years and have never done any web, then
      yes, it will be a very good idea to join. The head-start you have is quite small and will only
      mean that you have more time to deepen your knowledge of Web technologies.
      %br
      Say you have taught yourself JavaScript and done several web sites for friends. You know
      about HTML, the DOM maybe even node.js. In that case it is better to aim for an internship
      directly and read a few of the books we recommend.
.toggle.mix.application
  %label What are you testing for in the interview?
  .toggle-content
    %p.clearfix
      The best thing to do is familiarize yourself with the course and be very clear on your
      motivation.
      %br
      We do not test programming skill at all, rather we try to evaluate your analytical thinking.
      %br
      Also we are very interested in your motivation, what has lead you to apply, what you think
      you will do after, how do you justify the spending to yourself, how indeed you will fund
      yourself.
      %br
      Lastly we try to evaluate your communication and emotional skills to see how you will deal
      with the inescapability of co-living while doing intense work.
