.toggle.mix.career
  %label Will I get a job after this course ?
  .toggle-content
    %p.clearfix
      As with any education, that is the hope. But there are no guarantees, and a lot depends on you.
      %br
      We have a network of companies we know and can help you get a suitable placement.
      %br
      We also review the work you did during the course and help you find the right kind of job.
      %br
      You can also stay on at the school, either if you want to or feel you have to, see below.
      %br
.toggle.mix.career
  %label What kind of job can I get after finishing this course ?
  .toggle-content
    %p.clearfix
      This depends a lot on your previous experience and what parts of the course suit you best.
      Broadly speaking:
      %br
      If you are very analytical, you could become a backend programmer. If you are more visual
      inclined, you could become front end designer. Also if you like the front end you may become
      a front end application programmer. Or you may even train yourself to become a mobile platform
      developer.
      %br
      If you have strong or previous people skills you may also go straight into management.
      Larger teams have dedicated technical project managers who really need to know what is being
      done.
      %br
      Also support and testing roles have very similar requirements and so it is really up to you
      and what you are good at. Which usually is what you enjoy.
      %br
.toggle.mix.career
  %label Can I be a tutor after the course ?
  .toggle-content
    %p.clearfix
      If you feel you want to spend some more time learning, teaching is a good way to do that.
      %br
      We accept tutors for two or four weeks, but you must apply at least two weeks before the
      end of your course.
      %br
      Junior tutors get free board, but no money. For the second two weeks, or any stay beyond,
      compensation is negotiable.
      %br
      Tutors are expected to work for 6 hours, 6 days a week and may receive help with their own
      project beyond that, time permitting.
.toggle.mix.career
  %label Can I do an internship at Web Dev Camp?
  .toggle-content
    %p.clearfix
      We always have a number of, usually open source, projects that we maintain or further.
      These require work in many areas and if we find a match between your skills and
      our projects, then yes.
      %br
      Internships are expected to work for 6 hours, 6 days a week, and in exceptional cases
      act as tutors during that time.
      %br
      Compensation is the same as for tutors, ie two to 4 weeks just board and after that
      negotialble.
.toggle.mix.career
  %label Should I take an internship if I can't find a job ?
  .toggle-content
    %p.clearfix
      We suggest you look for a paying job for one or two months first. If you start with the
      application process early and have grasped the content, you should be able to get at least a
      junior development position. Or at the minimum a (short) trial period with a guarantee of a
      job if you prove competent.
      %br
      But, in case you don't find a job soon, then yes, we do recommend taking internships.
      Also an internship will give you experience of real world job situations, teach you new
      tools, possibly languages. And allow you to add a relevant entry to your CV.
