.toggle.mix.course
  / toggle
  %label Why do you use ruby as the main language ?
  .toggle-content
    %p.clearfix
      Ruby is easy to understand, well structured, object oriented and has a strong
      community.
      %br
      Ruby has very good tools, especially for web application development. Ruby on Rails
      is over 10 years old, invented and further developed application standards that have
      been copied into many other languages.
      %br
      Learning ruby as a first language removes much of the dificulties found in other
      languages and gives you a solid understanding of programming. Other languages will
      be easy to pick up after having learned good practices in ruby.
.toggle.mix.course
  %label Do you teach other languages but ruby, like javascript ?
  .toggle-content
    %p.clearfix
      The assumption is that what we teach will be your first (serious) programming
      language. Ruby is easy to understand, well structured, clean, very object-oriented
      and has a very strong web community. In short it's a very good first language to learn.
      %br/
      We also teach front-end appication development and some javascript. You will be able
      to become proficient in Javascript very easily after this course, but we focus on
      it's abilities and cross compilation (cofeescript and opal).
      %br/
      You will also be able to focus on one other language if you choose, eg. go, python,
      erlang or c.
.toggle.mix.course
  %label How many hours do you teach ?
  .toggle-content
    %p.clearfix
      The ofiicial part of the course is 9 hours a day.
      %br
      This means that for those nine hours you will either have lectures, be involved in groupwork
      or work on your assignemnts. During these hours you can always ask and someone will be
      present to answer your question.
      %br
      But the course is short, and you may choose to work after hours. If you don't you are free to
      do with your time as you please, as long as you don't disturb others.
