.toggle.mix.payment
  %label Do i need to pay the whole fee before the course starts ?
  .toggle-content
    %p.clearfix
      That depends. For the basic fee, yes. We require at least 2100€ after your acceptence
      to the course, to be transferred at least 2 weeks prior to starting.
      %br
      The full fee of €8400 needs to be transferred before you start the course. The basic fee
      is not refundable if you change your mind, but if you have proven medical issues you can get
      full unsued weeks returned.
      %br
      Like with plane tickets you can aquire more flexibility for a comparitively small extra cost.
      In short, the flex fee (1100€ extra) lets you stop the course at any full week, while still
      paying the full price up front.
      %br
      With the pay-as-you-go fee you only have to pay for the next 2 weeks ahead, and you can stop
      any time you like. Pay-as-you-go costs 2900€ for evey 2 week module.
      %br
      See full details in our
      = link_to "Payment page" , page_path(:payment)
.toggle.mix.payment
  %label Where can i get a load if i don't have the money ?
  .toggle-content
    %p.clearfix
      %br
      %br
.toggle.mix.payment
  %label Where can i get a load if i don't have the money ?
  .toggle-content
    %p.clearfix
      %br
      %br
.toggle.mix.payment
  %label Where can i get a load if i don't have the money ?
  .toggle-content
    %p.clearfix
      %br
      %br
