.toggle.mix.payment
  %label Do I need to pay the whole fee before the course starts?
  .toggle-content
    %p.clearfix
      That depends. For the basic fee, yes. We require at least 2100€ after your acceptance
      to the course, to be transferred at least 2 weeks prior to starting.
      %br
      The full fee of €8400 needs to be transferred before you start the course. The basic fee
      is not refundable if you change your mind, but if you have proven medical issues you can get
      full unused weeks returned.
      %br
      Like with plane tickets you can acquire more flexibility for a comparatively small extra cost.
      In short, the flex fee (1200€ extra) lets you stop the course at any full week, while still
      paying the full price up front.
      %br
      With the super flex fee you only have to pay for the next 2 weeks ahead, and you can stop
      any time you like. Super flex costs 2900€ for every 2 week module.
      %br
      See full details in our
      =succeed "." do
        = link_to "Payment page" , page_path(:payment)
.toggle.mix.payment
  %label Where can I get a loan if I don't have the money?
  .toggle-content
    %p.clearfix
      You can get a loan from many places: your parents or other relatives would be our first
      suggestion. If they hear you are investing in your own future and should be able to
      pay back within a year they may be glad to help.
      %br
      Depending on your country banks are geared towards student loans. If you explain the situation
      they could easily help.
      %br
      Unfortunately we can not help directly as the legal implications are just too complicated for
      a small company like us. We do offer ways for you to earn some of the money back if you don't
      find a job immediately, see below.
.toggle.mix.payment
  %label Can I do work for my course fee?
  .toggle-content
    %p.clearfix
      Unfortunately this is a chicken and egg problem. Before the course, you will not have the
      skills we need.
      %br
      After the course we offer tutor positions or internship, see the career section.
      Both of which will not help in a major way though, and you will still need the money
      beforehand.
      %br
.toggle.mix.payment
  %label Can I pay after I obtain a job?
  .toggle-content
    %p.clearfix
      We are looking into this possibility, as we would like everyone to be able to participate,
      regardless of financial status.
      But at the moment, we must insist on the pre-payment.
      %br
