.toggle.mix.stay
  %label What can i do in my free time ?
  .toggle-content
    %p.clearfix
      We encourage you to do something relaxing, possibly physical, to relieve the mental
      concentration that occurs.
      %br
      Off course you can read, rest, go hiking swimming or cycling. We also have a weekly
      traditional finish sauna. There are "local" restaurants and bars, though trasport may be
      an issue.
.toggle.mix.stay
  %label I see your place is remote, what about transport ?
  .toggle-content
    %p.clearfix
      We arrange all transport that is needed for the course.
      %br
      Otherwise there are busses, cars or taxis. We have a bus stop right in fron of our house,
      though busses are infrequent. Our day off is monday partly for the reason that busses run.
      %br
      Some people may come with their car and you may be able to share. Also ride sharing is quite
      common here and even hitchhiking works relatively well as transport is a shared problem.
      %br
      If you share a taxi it actually quite ok priced, and either that or the bus will get you
      to Karjaa from which trains leave to Helsinki or Turkku (1 hour either way).
      %br
      last but not least you can ask us to organize transport. Especially for group activities
      we are happy to help.
.toggle.mix.stay
  %label I have food allergies / restrictions ,  can i still participate?
  .toggle-content
    %p.clearfix
      Please note your allergies early on in the application process.
      %br
      Certainly vergetarian and even vegan food is no problem. Gluten-free can be arranged.
      %br
      For other allergies you may have to give us very specific or do self catering,
      see next question.
      %br
.toggle.mix.stay
  %label Can i opt out of the food?
  .toggle-content
    %p.clearfix
      Yes, though we do not encourage it. Shared meals, like shared accomodation, provide valuable
      bonding that you will need. The course is intense and it certainly helps to get to know
      your co-students outside the teachnical frame you interact in during the course.
      %br
      So if you have good reason, you can opt out of the lunches for 10€ a day and breakfast and
      evening meal for another 10€ a day.
.toggle.mix.stay
  %label Can i opt out of accommodation?
  .toggle-content
    %p.clearfix
      If you really want to, yes. It will change your experience of the course quite a lot, and we
      don't think neccessarily for the better.
      %br
      You will need a car to make this work as it is almist impossible to find accomodation among
      the 40 houses of this village.
      %br
      We refund 15€ per day.
.toggle.mix.stay
  %label How big are the shared rooms, can i have my own rooms?
  .toggle-content
    %p.clearfix
      Our rooms are between 15 and 40 square meter big and you will be sharing with one to three
      others of your same gender.
      %br
      We have normal single beds, no bunk beds or double beds. Two rooms share a toilet, the other
      five have their own. We have a total of five showers.
      %br
      There are no single rooms and there is no way to "upgrade". You could choose to live off site
      if it means that much to you.
.toggle.mix.stay
  %label I have food allergies / restrictions ,  can i still participate?
  .toggle-content
    %p.clearfix

      %br

      %br

      %br
      %br
