
%p
  It’s never too late to start something new. Ioana Rosu, a former lawyer and police officer,
  started learning to become a junior web developer at the age of 32. By writing her story in this blog post,
  we hope her story would inspire others to go out from their comfort zone and be brave to follow their dreams.

%p
  By the time Ioana decided to finally make programming her own career, she was just learning to code as a hobby.
  “It happened very quickly”, she talked about her decision. Right after making up her mind, she spent time to look
  at online courses and practising with Github. After few months, Ioana noticed that she needed some professional
  help if she really wanted to make it. She was looking for coding bootcamps in the U.S but the popular ones were
  too expensive. So, she ended up going to Finland and join us as one of the first students at WebDev Camp.

%p
  Speaking of her learning journey at WebDev Camp, Ioana expressed that it was also an one of a kind experience.
  “It’s  not like some other courses where you come to learn programming from 9 to 5 and then say goodbye for the
  rest of the day”.

%p
  That was also the unique charm of WebDev Camp, being together all the time with someone you had never met before
  made you communicate much more often than you usually do. However, after that, you will make friends, who are very
  like-minded, who you can count on.

%p
  About the teachers at WebDev Camp, Ioana said “I consider them as my close friends, even they might not know
  about that. They really helped me when I needed it. And it was wonderful for me to meet someone who can help
  you not only in learning but also giving you advices in life. They taught me how to build network, how to
  approach people and how to approach other things in life”

  = blog_image "learning_team.jpg"

%p
  Soon after graduating from WebDev Camp, she has found her new place at
  = ext_link "Dentolo" , "https://www.dentolo.de/"
  a startup in Germany. “I have
  to move out from my country, learn a new language and work in a totally different environment but the happiness
  is not from the job itself, all my colleagues are such lovely people, the atmosphere at work is always cheerful
  and they are really caring to me. They help me a lot to adapt to the new life and to learn the job”

%p
  And on behalf of WebDev Camp, we would love to relay her message to anyone who wants to change their career
  and change their life:
      %p
        “Have trust in yourself and ignore bad advice from people who want to stop you from being happy” -
        Ioana Rosu

%p
  So, if you’re thinking about doing something to change your life, go for it. We hope to see many inspired
  people coming along!

  = blog_image "Ioana_and_new_team_at_Dentolo.jpg"
