%p
  some text that will be the short summary at the beginning.
  Remembering that the file name becomes the title (h1)

%h2 Sub Headings should start with 2

%p
  They have more text possibly with links
  = ext_link "Github" , "http://github.com/"
