

%p
  If you have a good idea, then it's never too late to start something new because no matter what your age is,
  there's always room for the next big thing.

%p
  Ioana Rosu, a former legal advisor and police officer,
  started learning to become a junior web developer at the age of 31. By writing her story in this blog post,
  we hope her story would inspire others to go out from their comfort zone and be brave to follow their dreams.

%p
  By the time Ioana decided to finally make programming her own career, she was just learning to code as a hobby.
  %em “It happened very quickly”
  , she talked about her decision. Right after making up her mind, she spent time to
  look at online courses and practising with Github. After few months, Ioana noticed that she needed some professional
  help if she really wanted to make it. She was looking for coding bootcamps in the U.S but the popular ones were
  hardly affordable, and ended up going to Finland and join us as one of the first students at WebDev Camp.

%p
  = blog_image "learning_team.jpg"

%p
  Speaking of her learning journey at WebDev Camp, Ioana expressed that it was also an one of a kind experience.
  %em
    “It’s  not like some other courses where you come to learn programming from 9 to 5 and then say goodbye for
    the rest of the day”.

%p
  That was also the unique charm of WebDev Camp. Being together with someone you had
  never met before a lot of the time made you communicate much more than you usually do.
  However, after that, you will make friends, who are very like-minded, who you can count on.

%p
  About the teachers at WebDev Camp, Ioana said
  %em
    “I consider them as my close friends, even they might not know about that.
    They really helped me when I needed it. And it was wonderful for me to meet someone, who can help you not only in
    learning, but also giving you advice in life. They taught me how to build a professional network, how to approach
    other programmers  and do the job search. As a bonus I learned how the windmills produce energy or even how one can
    be build a wooden house without nails.”

%p
  Soon after graduating from WebDev Camp, she has found her new place at
  = ext_link "Dentolo" , "https://www.dentolo.de/"
  a health startup in Germany.
  %em
    “I had to move out from my country, to start learning German and work in a totally
    different environment but, from the second week, the fulfilment did not fail to show up. My colleagues are great
    professionals, the atmosphere at work is always cheerful and encourages creativity, they are really caring and
    try to help me a lot to adapt to the new life and to learn what I have to do on daily basis at the job.”
%p
  = blog_image "Ioana_and_new_team_at_Dentolo.jpg"

%p
  And on behalf of WebDev Camp, we would love to relay her message to anyone who wants to change their career
  and change their life:

%p
  %blockquote
    "Have trust in yourself and ignore bad advice from people who maybe want to stop you from being the person
    you feel you are inside. And, of course, happy coding!”

%p
  So, if you’re thinking about doing something to change your life,
  =link_to "go for it.", new_user_registration_path
