%p
  %em
    Sometimes you have to let things go so there’s room for better things to come into your life -
  Adrian Body
%p
  Zita Szekely was having a full-time job as a software tester. She has been doing it for 15 years
  and she loved her job. However, as the market demand for software testers declined, she became
  stressful because of the unpredictable future.
%p
  When you start feeling insecure about what you are doing, then it is the right time to consider
  changing it.

%h2
  Having great support from family was the biggest turning point
%p
  It was a great decision that Zita shared with her husband about her concerns for the future,
  who then suggested to learn programming and become a developer.
  %em “It was a silly idea”
  , she thought,
  %em
    “I have always been a tech savvy person, but I have never been good with mathematics and I
    thought programming and math go hand in hand”.
%p
  = blog_image "Zita.jpg"

%p
  Getting to know about WebDev Camp by attending Rails Girls Tampere, Zita was totally convinced
  that the opportunity is now opened for her and she doesn’t need to be good at math to becoming
  a developer. But the idea of leaving her family behind to concentrate on studying for 2 months
  scared her.
  %em
    “My husband was the one who convinced me to go”.
  According to him, from the perspective of an experienced developer,
  %em
    “there is no better way to start”.
%h2
  WebDev Camp was the best decision
%em
  %p
    “Before I embarked on the course 8 weeks ago, I had no idea how to build an application and
    no idea about object oriented programming, whilst coding was a mysterious thing done by other people
  %p
    During the first two weeks at the Webdev.camp, we had intensive theory lessons where we learned
    about such things as attributes, objects, models, Active Record and MVC.
%p
  = blog_image "small_group.jpg"
%em
  %p
    After two weeks we started on our first real application in Ruby, and put all of that theory work into
    practice. Already at week 5, we had a working beta version of our application.
  %p
    The whole experience of Webdev.camp has been an intensive and empowering learning journey for me,
    and not just with regard to my new skills. I have proved to myself that if I apply my mind to
    something, and work hard, I can achieve my dreams.”




%p
  After graduating from WebDev Camp, Zita didn’t go straight into finding a new job right away.
  She attended a course organized by a university to learn some Java.
  %em
    “It just make me feel even more certain that attending WebDev Camp was a great idea from the beginning”
  , according to her, the course was too formal, there were too much of theory and very little practise.
  %em
    “Had I gone to that course first, I wouldn’t have been able to make it”.

%h2
  A new beginning
%p
  Zita has just started her new position as a developer in a startup in Tampere called Intopalo.
  She is joyous that her programming language in the new company is Ruby on Rails, which she
  learnt at WebDev Camp.
%p
  P.S: The deadline for Webdev Camp autumn application is approaching.
  = link_to "Apply now" , "/apply"
  if you don't want to miss the chance
