.blog
  - @pages.each do |slug , page|
    .row
      .col-md-2
      .col-md-8
        %h1= link_to page.title , blog_page_url(page.slug)
        = page.summary
        %span.whole= link_to ". . . .Read whole post" , blog_page_url(page.slug)
      .col-md-2
