.social_box
  .social
    .social__item
      %span.fa.icon-facebook{"data-count" => "", "data-social" => "fb"}
    .social__item
      %span.fa.icon-twitter{"data-count" => "", "data-social" => "tw"}
    .social__item
      %span.fa.icon-linkedin{"data-count" => "", "data-social" => "ln"}
    .social__item
      %span.fa.icon-gplus{"data-count" => "", "data-social" => "gp"}

.blog
  .center_col
    %h1= @page.title
  .center_col
    = render( @page.template_name )

:javascript
  $(function () {
      $('[data-social]').socialButtons({
          url: window.location.href
      });
  });
%script{"data-dojo-config" => "usePlainJson: true, isDebug: false", :src => "//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js", :type => "text/javascript"}
:javascript
  require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us16.list-manage.com","uuid":"f87ed24d53899ee88e851a0d1","lid":"0ee2009500"}) })
