.social_box
  .social
    .social__item
      %span.fa.fa-facebook{"data-count" => "", "data-social" => "fb"}
    .social__item
      %span.fa.fa-twitter{"data-count" => "", "data-social" => "tw"}
    .social__item
      %span.fa.fa-linkedin{"data-count" => "", "data-social" => "ln"}
    .social__item
      %span.fa.fa-pinterest{"data-count" => "", "data-social" => "pt"}

.blog
  .center_col
    %h1= @page.title
  .center_col
    = render( @page.template_name )

:javascript
  $(function () {
      $('[data-social]').socialButtons({
          url: window.location.href
      });
  });
