/ FOOTER
%footer#footer
  .container
    .row
      .col-md-3
        / Footer Logo
        = image_tag "web_logo_white.png" , :class => "footer-logo"
        / Small Description
        %p Finding your talent.
        %address
        %ul.list-unstyled
          %li.footer-sprite.address
            Fiskarsintie 513
            %br/
            10480 Antskog
            %br/
            Finnland
            %br/
          %li.footer-sprite.phone
            Phone: +358-40 7308052
          %li.footer-sprite.email
            %a{:href => "mailto:info@web-dev.camp"} info@web-dev.camp
      .col-md-3
        %h4.letter-spacing-1 LATEST UPDATES
        %ul.footer-posts.list-unstyled
          %li
            %a{:href => "/apply"} Updated apply page
            %small 24 March 2016
          %li
            %a{:href => "/dev"} Updated dev and camp
            %small 24 March 2016
          %li
            %a{:href => "/web"} Updated the course program
            %small 20 March 2016
      .col-md-2
        / Links
        %h4.letter-spacing-1 EXPLORE Web Dev Camp
        %ul.footer-links.list-unstyled
          %li
            %a{:href => "/teachers"} Teachers
          %li
            %a{:href => "/payment"} Payment Policy
          %li
            %a{:href => "#"} Web Dev Tour
          %li
            %a{:href => "#"} Teaching oppertunities
        / /Links
      .col-md-4
        / Newsletter Form
        %h4.letter-spacing-1 Appply
        %p Start your application process now
        %form.validate{:action => "php/newsletter.php", "data-success" => "Subscribed! Thank you!", "data-toastr-position" => "bottom-right", :method => "post"}
          .input-group
            %span.input-group-addon
              %i.fa.fa-user
            %input#name.form-control.required{:name => "name", :placeholder => "Enter your Name", :type => "name"}/
          .input-group
            %span.input-group-addon
              %i.fa.fa-envelope
            %input#email.form-control.required{:name => "email", :placeholder => "Enter your Email", :type => "email"}/
            %span.input-group-btn
              %button.btn.btn-success{:type => "submit"} Subscribe
        / /Newsletter Form
        / Social Icons
        .margin-top-20
          %a.social-icon.social-icon-border.social-facebook.pull-left{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :title => "Facebook"}
            %i.icon-facebook
            %i.icon-facebook
          %a.social-icon.social-icon-border.social-twitter.pull-left{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :title => "Twitter"}
            %i.icon-twitter
            %i.icon-twitter
          %a.social-icon.social-icon-border.social-gplus.pull-left{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :title => "Google plus"}
            %i.icon-gplus
            %i.icon-gplus
          %a.social-icon.social-icon-border.social-linkedin.pull-left{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :title => "Linkedin"}
            %i.icon-linkedin
            %i.icon-linkedin
          %a.social-icon.social-icon-border.social-rss.pull-left{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :title => "Rss"}
            %i.icon-rss
            %i.icon-rss
        / /Social Icons
  .copyright
    .container
      %ul.pull-right.nomargin.list-inline.mobile-block
        %li
          %a{:href => "#"} Terms &amp; Conditions
        %li •
        %li
          %a{:href => "#"} Privacy
      © All Rights Reserved, Company LTD
/ /FOOTER
