/
  Top Nav

  AVAILABLE CLASSES:
  submenu-dark = dark sub menu
.navbar-collapse.pull-right.nav-main-collapse.collapse.submenu-dark
  %nav.nav-main
    /
      NOTE

      For a regular link, remove "dropdown" class from LI tag and "dropdown-toggle" class from the href.
      Direct Link Example:

      <li>
      <a href="#">HOME</a>
      </li>
    %ul#topMain.nav.nav-pills.nav-main
      %li.dropdown
        / HOME
        %a.dropdown-toggle{:href => "#"}
          HOME
        %ul.dropdown-menu
          %li.dropdown
            %a.dropdown-toggle{:href => "#"}
              HOME CORPORATE
            %ul.dropdown-menu
              %li
                %a{:href => "index-corporate-1.html"} CORPORATE LAYOUT 1
              %li
                %a{:href => "index-corporate-2.html"} CORPORATE LAYOUT 2
              %li
                %a{:href => "index-corporate-3.html"} CORPORATE LAYOUT 3
              %li
                %a{:href => "index-corporate-4.html"} CORPORATE LAYOUT 4
              %li
                %a{:href => "index-corporate-5.html"} CORPORATE LAYOUT 5
              %li
                %a{:href => "index-corporate-6.html"} CORPORATE LAYOUT 6
              %li
                %a{:href => "index-corporate-7.html"} CORPORATE LAYOUT 7
          %li.dropdown
            %a.dropdown-toggle{:href => "#"}
              HOME PORTFOLIO
            %ul.dropdown-menu
              %li
                %a{:href => "index-portfolio-1.html"} PORTFOLIO LAYOUT 1
              %li
                %a{:href => "index-portfolio-2.html"} PORTFOLIO LAYOUT 2
              %li
                %a{:href => "index-portfolio-masonry.html"} PORTFOLIO MASONRY
          %li.dropdown
            %a.dropdown-toggle{:href => "#"}
              HOME BLOG
            %ul.dropdown-menu
              %li
                %a{:href => "index-blog-1.html"} BLOG LAYOUT 1
              %li
                %a{:href => "index-blog-2.html"} BLOG LAYOUT 2
              %li
                %a{:href => "index-blog-3.html"} BLOG LAYOUT 3
              %li
                %a{:href => "index-blog-4.html"} BLOG LAYOUT 4
          %li.dropdown
            %a.dropdown-toggle{:href => "#"}
              HOME SHOP
            %ul.dropdown-menu
              %li
                %a{:href => "index-shop-1.html"} SHOP LAYOUT 1
              %li
                %a{:href => "index-shop-2.html"} SHOP LAYOUT 2
              %li
                %a{:href => "index-shop-3.html"} SHOP LAYOUT 3
              %li
                %a{:href => "index-shop-4.html"} SHOP LAYOUT 4
              %li
                %a{:href => "index-shop-5.html"} SHOP LAYOUT 5
          %li.dropdown
            %a.dropdown-toggle{:href => "#"}
              HOME MAGAZINE
            %ul.dropdown-menu
              %li
                %a{:href => "index-magazine-1.html"} MAGAZINE LAYOUT 1
              %li
                %a{:href => "index-magazine-2.html"} MAGAZINE LAYOUT 2
          %li.dropdown
            %a.dropdown-toggle{:href => "#"}
              HOME LANDING PAGE
            %ul.dropdown-menu
              %li
                %a{:href => "index-landing-1.html"} LANDING PAGE LAYOUT 1
              %li
                %a{:href => "index-landing-2.html"} LANDING PAGE LAYOUT 2
              %li
                %a{:href => "index-landing-3.html"} LANDING PAGE LAYOUT 3
              %li
                %a{:href => "index-landing-4.html"} LANDING PAGE LAYOUT 4
              %li
                %a{:href => "index-landing-5.html"} LANDING PAGE LAYOUT 5
          %li.dropdown
            %a.dropdown-toggle{:href => "#"}
              HOME FULLSCREEN
            %ul.dropdown-menu
              %li
                %a{:href => "index-fullscreen-revolution.html"} FULLSCREEN - REVOLUTION
              %li
                %a{:href => "index-fullscreen-youtube.html"} FULLSCREEN - YOUTUBE
              %li
                %a{:href => "index-fullscreen-local-video.html"} FULLSCREEN - LOCAL VIDEO
              %li
                %a{:href => "index-fullscreen-image.html"} FULLSCREEN - IMAGE
              %li
                %a{:href => "index-fullscreen-txt-rotator.html"} FULLSCREEN - TEXT ROTATOR
          %li.dropdown
            %a.dropdown-toggle{:href => "#"}
              HOME ONE PAGE
            %ul.dropdown-menu
              %li
                %a{:href => "index-onepage-default.html"} ONE PAGE - DEFAULT
              %li
                %a{:href => "index-onepage-revolution.html"} ONE PAGE - REVOLUTION
              %li
                %a{:href => "index-onepage-image.html"} ONE PAGE - IMAGE
              %li
                %a{:href => "index-onepage-parallax.html"} ONE PAGE - PARALLAX
              %li
                %a{:href => "index-onepage-youtube.html"} ONE PAGE - YOUTUBE
              %li
                %a{:href => "index-onepage-text-rotator.html"} ONE PAGE - TEXT ROTATOR
              %li
                %a{:href => "start.html#onepage"}
                  %span.label.label-success.pull-right new
                  10+ MORE LAYOUTS
          %li.divider
          %li.dropdown
            %a.dropdown-toggle{:href => "#"}
              HOME - THEMATICS
              %i.fa.fa-heart.margin-left-10
            %ul.dropdown-menu
              %li
                %a{:href => "index-thematics-restaurant.html"} HOME - RESTAURANT
              %li
                %a{:href => "index-thematics-education.html"} HOME - EDUCATION
              %li
                %a{:href => "index-thematics-construction.html"} HOME - CONSTRUCTION
              %li
                %a{:href => "index-thematics-medical.html"} HOME - MEDICAL
              %li
                %a{:href => "index-thematics-church.html"} HOME - CHURCH
              %li
                %a{:href => "index-thematics-fashion.html"} HOME - FASHION
              %li
                %a{:href => "index-thematics-wedding.html"} HOME - WEDDING
              %li
                %a{:href => "index-thematics-events.html"} HOME - EVENTS
              %li
                %a{:href => "index-thematics-hosting.html"} HOME - HOSTING
              %li
                %a{:href => "index-thematics-lawyer.html"} HOME - LAWYER
              %li
                %a{"data-placement" => "top", "data-toggle" => "tooltip", :href => "http://www.stepofweb.com/propose-design.html", :target => "_blank", :title => "Do you need a specific home design? We can include it in the next update!"}
                  %span.label.label-danger.pull-right hot
                  PROPOSE THEMATIC
          %li.divider
          %li
            %a{"data-placement" => "top", "data-toggle" => "tooltip", :href => "start.html#newrevslider", :title => "39 More Revolution Slider V5"}
              %span.label.label-danger.pull-right new
              39 MORE LAYOUTS
          %li.divider
          %li
            %a{:href => "index-simple-revolution.html"} HOME SIMPLE - REVOLUTION
          %li
            %a{:href => "index-simple-layerslider.html"} HOME SIMPLE - LAYERSLIDER
          %li
            %a{:href => "index-simple-parallax.html"} HOME SIMPLE - PARALLAX
          %li
            %a{:href => "index-simple-youtube.html"} HOME SIMPLE - YOUTUBE
      %li.dropdown
        / PAGES
        %a.dropdown-toggle{:href => "#"}
          PAGES
        %ul.dropdown-menu
          %li.dropdown
            %a.dropdown-toggle{:href => "#"}
              ABOUT
            %ul.dropdown-menu
              %li
                %a{:href => "page-about-us-1.html"} ABOUT US - LAYOUT 1
              %li
                %a{:href => "page-about-us-2.html"} ABOUT US - LAYOUT 2
              %li
                %a{:href => "page-about-us-3.html"} ABOUT US - LAYOUT 3
              %li
                %a{:href => "page-about-us-4.html"} ABOUT US - LAYOUT 4
              %li
                %a{:href => "page-about-us-5.html"} ABOUT US - LAYOUT 5
              %li
                %a{:href => "page-about-me-1.html"} ABOUT ME - LAYOUT 1
              %li
                %a{:href => "page-about-me-2.html"} ABOUT ME - LAYOUT 2
          %li.dropdown
            %a.dropdown-toggle{:href => "#"}
              TEAM
            %ul.dropdown-menu
              %li
                %a{:href => "page-team-1.html"} TEAM - LAYOUT 1
              %li
                %a{:href => "page-team-2.html"} TEAM - LAYOUT 2
          %li.dropdown
            %a.dropdown-toggle{:href => "#"}
              SERVICES
            %ul.dropdown-menu
              %li
                %a{:href => "page-services-1.html"} SERVICES - LAYOUT 1
              %li
                %a{:href => "page-services-2.html"} SERVICES - LAYOUT 2
              %li
                %a{:href => "page-services-3.html"} SERVICES - LAYOUT 3
              %li
                %a{:href => "page-services-4.html"} SERVICES - LAYOUT 4
          %li.dropdown
            %a.dropdown-toggle{:href => "#"}
              FAQ
            %ul.dropdown-menu
              %li
                %a{:href => "page-faq-1.html"} FAQ - LAYOUT 1
              %li
                %a{:href => "page-faq-2.html"} FAQ - LAYOUT 2
              %li
                %a{:href => "page-faq-3.html"} FAQ - LAYOUT 3
              %li
                %a{:href => "page-faq-4.html"} FAQ - LAYOUT 4
          %li.dropdown
            %a.dropdown-toggle{:href => "#"}
              CONTACT
            %ul.dropdown-menu
              %li
                %a{:href => "page-contact-1.html"} CONTACT - LAYOUT 1
              %li
                %a{:href => "page-contact-2.html"} CONTACT - LAYOUT 2
              %li
                %a{:href => "page-contact-3.html"} CONTACT - LAYOUT 3
              %li
                %a{:href => "page-contact-4.html"} CONTACT - LAYOUT 4
              %li
                %a{:href => "page-contact-5.html"} CONTACT - LAYOUT 5
          %li.dropdown
            %a.dropdown-toggle{:href => "#"}
              ERROR
            %ul.dropdown-menu
              %li
                %a{:href => "page-404-1.html"} ERROR 404 - LAYOUT 1
              %li
                %a{:href => "page-404-2.html"} ERROR 404 - LAYOUT 2
              %li
                %a{:href => "page-404-3.html"} ERROR 404 - LAYOUT 3
              %li
                %a{:href => "page-404-4.html"} ERROR 404 - LAYOUT 4
              %li
                %a{:href => "page-404-5.html"} ERROR 404 - LAYOUT 5
              %li
                %a{:href => "page-404-6.html"} ERROR 404 - LAYOUT 6
              %li
                %a{:href => "page-404-7.html"} ERROR 404 - LAYOUT 7
              %li
                %a{:href => "page-404-8.html"} ERROR 404 - LAYOUT 8
              %li.divider
              %li
                %a{:href => "page-500-1.html"} ERROR 500 - LAYOUT 1
              %li
                %a{:href => "page-500-2.html"} ERROR 500 - LAYOUT 2
          %li.dropdown
            %a.dropdown-toggle{:href => "#"}
              SIDEBAR
            %ul.dropdown-menu
              %li
                %a{:href => "page-sidebar-left.html"} SIDEBAR LEFT
              %li
                %a{:href => "page-sidebar-right.html"} SIDEBAR RIGHT
              %li
                %a{:href => "page-sidebar-both.html"} SIDEBAR BOTH
              %li
                %a{:href => "page-sidebar-no.html"} NO SIDEBAR
              %li.divider
              %li
                %a{:href => "page-sidebar-dark-left.html"} SIDEBAR LEFT - DARK
              %li
                %a{:href => "page-sidebar-dark-right.html"} SIDEBAR RIGHT - DARK
              %li
                %a{:href => "page-sidebar-dark-both.html"} SIDEBAR BOTH - DARK
              %li
                %a{:href => "page-sidebar-dark-no.html"} NO SIDEBAR - DARK
          %li.dropdown
            %a.dropdown-toggle{:href => "#"}
              LOGIN/REGISTER
            %ul.dropdown-menu
              %li
                %a{:href => "page-login-1.html"} LOGIN - LAYOUT 1
              %li
                %a{:href => "page-login-2.html"} LOGIN - LAYOUT 2
              %li
                %a{:href => "page-login-3.html"} LOGIN - LAYOUT 3
              %li
                %a{:href => "page-login-4.html"} LOGIN - LAYOUT 4
              %li
                %a{:href => "page-login-5.html"} LOGIN - LAYOUT 5
              %li
                %a{:href => "page-login-register-1.html"} LOGIN + REGISTER 1
              %li
                %a{:href => "page-login-register-2.html"} LOGIN + REGISTER 2
              %li
                %a{:href => "page-login-register-3.html"} LOGIN + REGISTER 3
              %li
                %a{:href => "page-register-1.html"} REGISTER - LAYOUT 1
              %li
                %a{:href => "page-register-2.html"} REGISTER - LAYOUT 2
          %li.dropdown
            %a.dropdown-toggle{:href => "#"}
              CLIENTS
            %ul.dropdown-menu
              %li
                %a{:href => "page-clients-1.html"} CLIENTS 1 - SIDEBAR RIGHT
              %li
                %a{:href => "page-clients-2.html"} CLIENTS 1 - SIDEBAR LEFT
              %li
                %a{:href => "page-clients-3.html"} CLIENTS 1 - FULLWIDTH
              %li.divider
              %li
                %a{:href => "page-clients-4.html"} CLIENTS 2 - SIDEBAR RIGHT
              %li
                %a{:href => "page-clients-5.html"} CLIENTS 2 - SIDEBAR LEFT
              %li
                %a{:href => "page-clients-6.html"} CLIENTS 2 - FULLWIDTH
          %li.dropdown
            %a.dropdown-toggle{:href => "#"}
              SEARCH RESULT
            %ul.dropdown-menu
              %li
                %a{:href => "page-search-result-1.html"} LAYOUT 1 - LEFT SIDEBAR
              %li
                %a{:href => "page-search-result-2.html"} LAYOUT 1 - RIGHT SIDEBAR
              %li
                %a{:href => "page-search-result-3.html"} LAYOUT 1 - FULLWIDTH
              %li.divider
              %li
                %a{:href => "page-search-result-4.html"} LAYOUT 2 - LEFT SIDEBAR
              %li
                %a{:href => "page-search-result-5.html"} LAYOUT 2 - RIGHT SIDEBAR
              %li.divider
              %li
                %a{:href => "page-search-result-6.html"} LAYOUT 3 - TABLE SEARCH
          %li.dropdown
            %a.dropdown-toggle{:href => "#"}
              PROFILE
            %ul.dropdown-menu
              %li
                %a{:href => "page-profile.html"} USER PROFILE
              %li
                %a{:href => "page-profile-projects.html"} USER PROJECTS
              %li
                %a{:href => "page-profile-comments.html"} USER COMMENTS
              %li
                %a{:href => "page-profile-history.html"} USER HISTORY
              %li
                %a{:href => "page-profile-settings.html"} USER SETTINGS
          %li.dropdown
            %a.dropdown-toggle{:href => "#"}
              MAINTENANCE
            %ul.dropdown-menu
              %li
                %a{:href => "page-maintenance-1.html"} MAINTENANCE - LAYOUT 1
              %li
                %a{:href => "page-maintenance-2.html"} MAINTENANCE - LAYOUT 2
          %li.dropdown
            %a.dropdown-toggle{:href => "#"}
              COMING SOON
            %ul.dropdown-menu
              %li
                %a{:href => "page-coming-soon-1.html"} COMING SOON - LAYOUT 1
              %li
                %a{:href => "page-coming-soon-2.html"} COMING SOON - LAYOUT 2
          %li.dropdown
            %a.dropdown-toggle{:href => "#"}
              FORUM
            %ul.dropdown-menu
              %li
                %a{:href => "page-forum-home.html"} FORUM - HOME
              %li
                %a{:href => "page-forum-topic.html"} FORUM - TOPIC
              %li
                %a{:href => "page-forum-post.html"} FORUM - POST
          %li
            %a{:href => "page-careers.html"} CAREERS
          %li
            %a{:href => "page-sitemap.html"} SITEMAP
          %li
            %a{:href => "page-blank.html"} BLANK PAGE
      %li.dropdown.active
        / FEATURES
        %a.dropdown-toggle{:href => "#"}
          FEATURES
        %ul.dropdown-menu
          %li.dropdown.active
            %a.dropdown-toggle{:href => "#"}
              %i.et-browser
              SLIDERS
            %ul.dropdown-menu
              %li
                %a.dropdown-toggle{:href => "#"} REVOLUTION SLIDER 4.x
                %ul.dropdown-menu
                  %li
                    %a{:href => "feature-slider-revolution-fullscreen.html"} FULLSCREEN
                  %li
                    %a{:href => "feature-slider-revolution-fullwidth.html"} FULL WIDTH
                  %li
                    %a{:href => "feature-slider-revolution-fixedwidth.html"} FIXED WIDTH
                  %li
                    %a{:href => "feature-slider-revolution-kenburns.html"} KENBURNS EFFECT
                  %li
                    %a{:href => "feature-slider-revolution-videobg.html"} HTML5 VIDEO
                  %li
                    %a{:href => "feature-slider-revolution-captions.html"} CAPTIONS
                  %li
                    %a{:href => "feature-slider-revolution-smthumb.html"} THUMB SMALL
                  %li
                    %a{:href => "feature-slider-revolution-lgthumb.html"} THUMB LARGE
                  %li.divider
                  %li
                    %a{:href => "feature-slider-revolution-prev1.html"} NAV PREVIEW 1
                  %li
                    %a{:href => "feature-slider-revolution-prev2.html"} NAV PREVIEW 2
                  %li
                    %a{:href => "feature-slider-revolution-prev3.html"} NAV PREVIEW 3
                  %li
                    %a{:href => "feature-slider-revolution-prev4.html"} NAV PREVIEW 4
                  %li
                    %a{:href => "feature-slider-revolution-prev0.html"} NAV THEME DEFAULT
              %li.active
                %a.dropdown-toggle{:href => "#"} LAYER SLIDER
                %ul.dropdown-menu
                  %li.active
                    %a{:href => "feature-slider-layer-fullwidth.html"} FULLWIDTH
                  %li
                    %a{:href => "feature-slider-layer-fixed.html"} FIXED WIDTH
                  %li
                    %a{:href => "feature-slider-layer-captions.html"} CAPTIONS
                  %li
                    %a{:href => "feature-slider-layer-carousel.html"} CAROUSEL
                  %li
                    %a{:href => "feature-slider-layer-2d3d.html"} 2D &amp; 3D TRANSITIONS
                  %li
                    %a{:href => "feature-slider-layer-thumb.html"} THUMB NAV
              %li
                %a.dropdown-toggle{:href => "#"} FLEX SLIDER
                %ul.dropdown-menu
                  %li
                    %a{:href => "feature-slider-flexslider-fullwidth.html"} FULL WIDTH
                  %li
                    %a{:href => "feature-slider-flexslider-content.html"} CONTENT
                  %li
                    %a{:href => "feature-slider-flexslider-thumbs.html"} WITH THUMBS
              %li
                %a.dropdown-toggle{:href => "#"} OWL SLIDER
                %ul.dropdown-menu
                  %li
                    %a{:href => "feature-slider-owl-fullwidth.html"} FULL WIDTH
                  %li
                    %a{:href => "feature-slider-owl-fixed.html"} FIXED WIDTH
                  %li
                    %a{:href => "feature-slider-owl-fixed+progress.html"} FIXED + PROGRESS
                  %li
                    %a{:href => "feature-slider-owl-carousel.html"} BASIC CAROUSEL
                  %li
                    %a{:href => "feature-slider-owl-fade.html"} EFFECT - FADE
                  %li
                    %a{:href => "feature-slider-owl-backslide.html"} EFFECT - BACKSLIDE
                  %li
                    %a{:href => "feature-slider-owl-godown.html"} EFFECT - GODOWN
                  %li
                    %a{:href => "feature-slider-owl-fadeup.html"} EFFECT - FADE UP
              %li
                %a.dropdown-toggle{:href => "#"} SWIPE SLIDER
                %ul.dropdown-menu
                  %li
                    %a{:href => "feature-slider-swipe-full.html"} FULLSCREEN
                  %li
                    %a{:href => "feature-slider-swipe-fixed-height.html"} FIXED HEIGHT
                  %li
                    %a{:href => "feature-slider-swipe-autoplay.html"} AUTOPLAY
                  %li
                    %a{:href => "feature-slider-swipe-fade.html"} FADE TRANSITION
                  %li
                    %a{:href => "feature-slider-swipe-slide.html"} SLIDE TRANSITION
                  %li
                    %a{:href => "feature-slider-swipe-coverflow.html"} COVERFLOW TRANSITION
                  %li
                    %a{:href => "feature-slider-swipe-html5-video.html"} HTML5 VIDEO
                  %li
                    %a{:href => "feature-slider-swipe-3columns.html"} 3 COLUMNS
                  %li
                    %a{:href => "feature-slider-swipe-4columns.html"} 4 COLUMNS
              %li
                %a{:href => "feature-slider-nivo.html"} NIVO SLIDER
              %li
                %a{:href => "feature-slider-camera.html"} CAMERA SLIDER
              %li
                %a{:href => "feature-slider-elastic.html"} ELASTIC SLIDER
          %li.dropdown
            %a.dropdown-toggle{:href => "#"}
              %i.et-hotairballoon
              HEADERS
            %ul.dropdown-menu
              %li
                %a{:href => "feature-header-light.html"} HEADER - LIGHT
              %li
                %a{:href => "feature-header-dark.html"} HEADER - DARK
              %li
                %a.dropdown-toggle{:href => "#"} HEADER - HEIGHT
                %ul.dropdown-menu
                  %li
                    %a{:href => "feature-header-large.html"} LARGE (96px)
                  %li
                    %a{:href => "feature-header-medium.html"} MEDIUM (70px)
                  %li
                    %a{:href => "feature-header-small.html"} SMALL (60px)
              %li
                %a.dropdown-toggle{:href => "#"} HEADER - SHADOW
                %ul.dropdown-menu
                  %li
                    %a{:href => "feature-header-shadow-after-1.html"} SHADOW 1 - AFTER
                  %li
                    %a{:href => "feature-header-shadow-before-1.html"} SHADOW 1 - BEFORE
                  %li.divider
                  %li
                    %a{:href => "feature-header-shadow-after-2.html"} SHADOW 2 - AFTER
                  %li
                    %a{:href => "feature-header-shadow-before-2.html"} SHADOW 2 - BEFORE
                  %li.divider
                  %li
                    %a{:href => "feature-header-shadow-after-3.html"} SHADOW 3 - AFTER
                  %li
                    %a{:href => "feature-header-shadow-before-3.html"} SHADOW 3 - BEFORE
                  %li.divider
                  %li
                    %a{:href => "feature-header-shadow-dark-1.html"} SHADOW - DARK PAGE EXAMPLE
              %li
                %a{:href => "feature-header-transparent.html"} HEADER - TRANSPARENT
              %li
                %a{:href => "feature-header-transparent-line.html"} HEADER - TRANSP+LINE
              %li
                %a{:href => "feature-header-translucent.html"} HEADER - TRANSLUCENT
              %li
                %a.dropdown-toggle{:href => "#"} HEADER - BOTTOM
                %ul.dropdown-menu
                  %li
                    %a{:href => "feature-header-bottom-light.html"} BOTTOM LIGHT
                  %li
                    %a{:href => "feature-header-bottom-dark.html"} BOTTOM DARK
                  %li
                    %a{:href => "feature-header-bottom-transp.html"} BOTTOM TRANSPARENT
              %li
                %a.dropdown-toggle{:href => "#"} HEADER - LEFT SIDE
                %ul.dropdown-menu
                  %li
                    %a{:href => "feature-header-side-left-1.html"} FIXED
                  %li
                    %a{:href => "feature-header-side-left-2.html"} OPEN ON CLICK
                  %li
                    %a{:href => "feature-header-side-left-3.html"} DARK
              %li
                %a.dropdown-toggle{:href => "#"} HEADER - RIGHT SIDE
                %ul.dropdown-menu
                  %li
                    %a{:href => "feature-header-side-right-1.html"} FIXED
                  %li
                    %a{:href => "feature-header-side-right-2.html"} OPEN ON CLICK
                  %li
                    %a{:href => "feature-header-side-right-3.html"} DARK
              %li
                %a.dropdown-toggle{:href => "#"} HEADER - STATIC
                %ul.dropdown-menu
                  %li
                    %a{:href => "feature-header-static-top-light.html"} STATIC TOP - LIGHT
                  %li
                    %a{:href => "feature-header-static-top-dark.html"} STATIC TOP - DARK
                  %li.divider
                  %li
                    %a{:href => "feature-header-static-bottom-light.html"} STATIC BOTTOM - LIGHT
                  %li
                    %a{:href => "feature-header-static-bottom-dark.html"} STATIC BOTTOM - DARK
              %li
                %a{:href => "feature-header-nosticky.html"} HEADER - NO STICKY
          %li.dropdown
            %a.dropdown-toggle{:href => "#"}
              %i.et-anchor
              FOOTERS
            %ul.dropdown-menu
              %li
                %a{:href => "feature-footer-1.html#footer"} FOOTER - LAYOUT 1
              %li
                %a{:href => "feature-footer-2.html#footer"} FOOTER - LAYOUT 2
              %li
                %a{:href => "feature-footer-3.html#footer"} FOOTER - LAYOUT 3
              %li
                %a{:href => "feature-footer-4.html#footer"} FOOTER - LAYOUT 4
              %li
                %a{:href => "feature-footer-5.html#footer"} FOOTER - LAYOUT 5
              %li
                %a{:href => "feature-footer-6.html#footer"} FOOTER - LAYOUT 6
              %li
                %a{:href => "feature-footer-7.html#footer"} FOOTER - LAYOUT 7
              %li
                %a{:href => "feature-footer-8.html#footer"} FOOTER - LAYOUT 8 (light)
              %li
                %a{:href => "feature-footer-0.html#footer"} FOOTER - STICKY
          %li.dropdown
            %a.dropdown-toggle{:href => "#"}
              %i.et-circle-compass
              MENU STYLES
            %ul.dropdown-menu
              %li
                %a{:href => "feature-menu-0.html"} MENU - OVERLAY
              %li
                %a{:href => "feature-menu-1.html"} MENU - STYLE 1
              %li
                %a{:href => "feature-menu-2.html"} MENU - STYLE 2
              %li
                %a{:href => "feature-menu-3.html"} MENU - STYLE 3
              %li
                %a{:href => "feature-menu-4.html"} MENU - STYLE 4
              %li
                %a{:href => "feature-menu-5.html"} MENU - STYLE 5
              %li
                %a{:href => "feature-menu-6.html"} MENU - STYLE 6
              %li
                %a{:href => "feature-menu-7.html"} MENU - STYLE 7
              %li
                %a{:href => "feature-menu-8.html"} MENU - STYLE 8
              %li
                %a{:href => "feature-menu-9.html"} MENU - STYLE 9
              %li
                %a{:href => "feature-menu-10.html"} MENU - STYLE 10
          %li.dropdown
            %a.dropdown-toggle{:href => "#"}
              %i.et-genius
              MENU DROPDOWN
            %ul.dropdown-menu
              %li
                %a{:href => "feature-menu-dd-light.html"} DROPDOWN - LIGHT
              %li
                %a{:href => "feature-menu-dd-dark.html"} DROPDOWN - DARK
              %li
                %a{:href => "feature-menu-dd-color.html"} DROPDOWN - COLOR
          %li.dropdown
            %a.dropdown-toggle{:href => "#"}
              %i.et-beaker
              PAGE TITLES
            %ul.dropdown-menu
              %li
                %a{:href => "feature-title-left.html"} ALIGN LEFT
              %li
                %a{:href => "feature-title-right.html"} ALIGN RIGHT
              %li
                %a{:href => "feature-title-center.html"} ALIGN CENTER
              %li
                %a{:href => "feature-title-light.html"} LIGHT
              %li
                %a{:href => "feature-title-dark.html"} DARK
              %li
                %a{:href => "feature-title-tabs.html"} WITH TABS
              %li
                %a{:href => "feature-title-breadcrumbs.html"} BREADCRUMBS ONLY
              %li
                %a.dropdown-toggle{:href => "#"} PARALLAX
                %ul.dropdown-menu
                  %li
                    %a{:href => "feature-title-parallax-small.html"} PARALLAX SMALL
                  %li
                    %a{:href => "feature-title-parallax-medium.html"} PARALLAX MEDIUM
                  %li
                    %a{:href => "feature-title-parallax-large.html"} PARALLAX LARGE
                  %li
                    %a{:href => "feature-title-parallax-2xlarge.html"} PARALLAX 2x LARGE
                  %li
                    %a{:href => "feature-title-parallax-transp.html"} TRANSPARENT HEADER
                  %li
                    %a{:href => "feature-title-parallax-transp-large.html"} TRANSPARENT HEADER - LARGE
              %li
                %a{:href => "feature-title-short-height.html"} SHORT HEIGHT
              %li
                %a{:href => "feature-title-rotative-text.html"} ROTATIVE TEXT
          %li.dropdown
            %a.dropdown-toggle{:href => "#"}
              %i.et-layers
              PAGE SUBMENU
            %ul.dropdown-menu
              %li
                %a{:href => "feature-page-submenu-light.html"} PAGE SUBMENU - LIGHT
              %li
                %a{:href => "feature-page-submenu-dark.html"} PAGE SUBMENU - DARK
              %li
                %a{:href => "feature-page-submenu-color.html"} PAGE SUBMENU - COLOR
              %li
                %a{:href => "feature-page-submenu-transparent.html"} PAGE SUBMENU - TRANSPARENT
              %li
                %a{:href => "feature-page-submenu-below-title.html"} PAGE SUBMENU - BELOW PAGE TITLE
              %li
                %a{:href => "feature-page-submenu-scrollto.html"} PAGE SUBMENU - SCROLLTO
          %li.dropdown
            %a.dropdown-toggle{:href => "#"}
              %i.et-trophy
              ICONS
            %ul.dropdown-menu
              %li
                %a{:href => "feature-icons-fontawesome.html"} FONTAWESOME
              %li
                %a{:href => "feature-icons-glyphicons.html"} GLYPHICONS
              %li
                %a{:href => "feature-icons-etline.html"} ET LINE
              %li
                %a{:href => "feature-icons-flags.html"} FLAGS
          %li.dropdown
            %a.dropdown-toggle{:href => "#"}
              %i.et-flag
              BACKGROUNDS
            %ul.dropdown-menu
              %li
                %a{:href => "feature-content-bg-grey.html"} CONTENT - SIMPLE GREY
              %li
                %a{:href => "feature-content-bg-ggrey.html"} CONTENT - GRAIN GREY
              %li
                %a{:href => "feature-content-bg-gblue.html"} CONTENT - GRAIN BLUE
              %li
                %a{:href => "feature-content-bg-ggreen.html"} CONTENT - GRAIN GREEN
              %li
                %a{:href => "feature-content-bg-gorange.html"} CONTENT - GRAIN ORANGE
              %li
                %a{:href => "feature-content-bg-gyellow.html"} CONTENT - GRAIN YELLOW
          %li.dropdown
            %a.dropdown-toggle{:href => "#"}
              %i.et-magnifying-glass
              SEARCH LAYOUTS
            %ul.dropdown-menu
              %li
                %a{:href => "feature-search-default.html"} SEARCH - DEFAULT
              %li
                %a{:href => "feature-search-fullscreen-light.html"} SEARCH - FULLSCREEN LIGHT
              %li
                %a{:href => "feature-search-fullscreen-dark.html"} SEARCH - FULLSCREEN DARK
              %li
                %a{:href => "feature-search-header-light.html"} SEARCH - HEADER LIGHT
              %li
                %a{:href => "feature-search-header-dark.html"} SEARCH - HEADER DARK
          %li
            %a{:href => "shortcode-animations.html"}
              %i.et-expand
              ANIMATIONS
          %li
            %a{:href => "feature-grid.html"}
              %i.et-grid
              GRID
          %li
            %a{:href => "feature-essentials.html"}
              %i.et-heart
              ESSENTIALS
          %li
            %a{:href => "page-changelog.html"}
              %i.et-alarmclock
              CHANGELOG
          %li.dropdown
            %a.dropdown-toggle{:href => "#"}
              %i.et-newspaper
              SIDE PANEL
            %ul.dropdown-menu
              %li
                %a{:href => "feature-sidepanel-dark-right.html"} SIDE PANEL - DARK - RIGHT
              %li
                %a{:href => "feature-sidepanel-dark-left.html"} SIDE PANEL - DARK - LEFT
              %li.divider
              %li
                %a{:href => "feature-sidepanel-light-right.html"} SIDE PANEL - LIGHT - RIGHT
              %li
                %a{:href => "feature-sidepanel-light-left.html"} SIDE PANEL - LIGHT - LEFT
              %li.divider
              %li
                %a{:href => "feature-sidepanel-color-right.html"} SIDE PANEL - COLOR - RIGHT
              %li
                %a{:href => "feature-sidepanel-color-left.html"} SIDE PANEL - COLOR - LEFT
          %li
            %a{:href => "../Admin/HTML/", :target => "_blank"}
              %span.label.label-success.pull-right BONUS
              %i.et-gears
              ADMIN PANEL
      %li.dropdown.mega-menu
        / PORTFOLIO
        %a.dropdown-toggle{:href => "#"}
          PORTFOLIO
        %ul.dropdown-menu
          %li
            .row
              .col-md-5th
                %ul.list-unstyled
                  %li
                    %span GRID
                  %li
                    %a{:href => "portfolio-grid-1-columns.html"} 1 COLUMN
                  %li
                    %a{:href => "portfolio-grid-2-columns.html"} 2 COLUMNS
                  %li
                    %a{:href => "portfolio-grid-3-columns.html"} 3 COLUMNS
                  %li
                    %a{:href => "portfolio-grid-4-columns.html"} 4 COLUMNS
                  %li
                    %a{:href => "portfolio-grid-5-columns.html"} 5 COLUMNS
                  %li
                    %a{:href => "portfolio-grid-6-columns.html"} 6 COLUMNS
              .col-md-5th
                %ul.list-unstyled
                  %li
                    %span MASONRY
                  %li
                    %a{:href => "portfolio-masonry-2-columns.html"} 2 COLUMNS
                  %li
                    %a{:href => "portfolio-masonry-3-columns.html"} 3 COLUMNS
                  %li
                    %a{:href => "portfolio-masonry-4-columns.html"} 4 COLUMNS
                  %li
                    %a{:href => "portfolio-masonry-5-columns.html"} 5 COLUMNS
                  %li
                    %a{:href => "portfolio-masonry-6-columns.html"} 6 COLUMNS
              .col-md-5th
                %ul.list-unstyled
                  %li
                    %span SINGLE
                  %li
                    %a{:href => "portfolio-single-extended.html"} EXTENDED ITEM
                  %li
                    %a{:href => "portfolio-single-parallax.html"} PARALLAX IMAGE
                  %li
                    %a{:href => "portfolio-single-slider.html"} SLIDER GALLERY
                  %li
                    %a{:href => "portfolio-single-html5-video.html"} HTML5 VIDEO
                  %li
                    %a{:href => "portfolio-single-masonry-thumbs.html"} MASONRY THUMBS
                  %li
                    %a{:href => "portfolio-single-embed-video.html"} EMBED VIDEO
              .col-md-5th
                %ul.list-unstyled
                  %li
                    %span LAYOUT
                  %li
                    %a{:href => "portfolio-layout-default.html"} DEFAULT
                  %li
                    %a{:href => "portfolio-layout-aside-left.html"} LEFT SIDEBAR
                  %li
                    %a{:href => "portfolio-layout-aside-right.html"} RIGHT SIDEBAR
                  %li
                    %a{:href => "portfolio-layout-aside-both.html"} BOTH SIDEBAR
                  %li
                    %a{:href => "portfolio-layout-fullwidth.html"} FULL WIDTH (100%)
                  %li
                    %a{:href => "portfolio-layout-tabfilter.html"} TAB FILTER &amp; PAGINATION
              .col-md-5th
                %ul.list-unstyled
                  %li
                    %span LOADING
                  %li
                    %a{:href => "portfolio-loading-pagination.html"} PAGINATION
                  %li
                    %a{:href => "portfolio-loading-jpagination.html"} JQUERY PAGINATION
                  %li
                    %a{:href => "portfolio-loading-infinite-scroll.html"} INFINITE SCROLL
                  %li
                    %a{:href => "portfolio-loading-ajax-page.html"} AJAX IN PAGE
                  %li
                    %a{:href => "portfolio-loading-ajax-modal.html"} AJAX IN MODAL
      %li.dropdown
        / BLOG
        %a.dropdown-toggle{:href => "#"}
          BLOG
        %ul.dropdown-menu
          %li.dropdown
            %a.dropdown-toggle{:href => "#"}
              DEFAULT
            %ul.dropdown-menu
              %li
                %a{:href => "blog-default-aside-left.html"} LEFT SIDEBAR
              %li
                %a{:href => "blog-default-aside-right.html"} RIGHT SIDEBAR
              %li
                %a{:href => "blog-default-aside-both.html"} BOTH SIDEBAR
              %li
                %a{:href => "blog-default-fullwidth.html"} FULL WIDTH
          %li.dropdown
            %a.dropdown-toggle{:href => "#"}
              GRID
            %ul.dropdown-menu
              %li
                %a{:href => "blog-column-2colums.html"} 2 COLUMNS
              %li
                %a{:href => "blog-column-3colums.html"} 3 COLUMNS
              %li
                %a{:href => "blog-column-4colums.html"} 4 COLUMNS
              %li.divider
              %li
                %a{:href => "blog-column-aside-left.html"} LEFT SIDEBAR
              %li
                %a{:href => "blog-column-aside-right.html"} RIGHT SIDEBAR
          %li.dropdown
            %a.dropdown-toggle{:href => "#"}
              MASONRY
            %ul.dropdown-menu
              %li
                %a{:href => "blog-masonry-2colums.html"} 2 COLUMNS
              %li
                %a{:href => "blog-masonry-3colums.html"} 3 COLUMNS
              %li
                %a{:href => "blog-masonry-4colums.html"} 4 COLUMNS
              %li
                %a{:href => "blog-masonry-fullwidth.html"} FULLWIDTH
          %li.dropdown
            %a.dropdown-toggle{:href => "#"}
              TIMELINE
            %ul.dropdown-menu
              %li
                %a{:href => "blog-timeline-aside-left.html"} LEFT SIDEBAR
              %li
                %a{:href => "blog-timeline-aside-right.html"} RIGHT SIDEBAR
              %li
                %a{:href => "blog-timeline-right-aside-right.html"} RIGHT + TIMELINE RIGHT
              %li
                %a{:href => "blog-timeline-right-aside-left.html"} LEFT + TIMELINE RIGHT
              %li
                %a{:href => "blog-timeline-fullwidth-left.html"} FULL WIDTH - LEFT
              %li
                %a{:href => "blog-timeline-fullwidth-right.html"} FULL WIDTH - RIGHT
          %li.dropdown
            %a.dropdown-toggle{:href => "#"}
              SMALL IMAGE
            %ul.dropdown-menu
              %li
                %a{:href => "blog-smallimg-aside-left.html"} LEFT SIDEBAR
              %li
                %a{:href => "blog-smallimg-aside-right.html"} RIGHT SIDEBAR
              %li
                %a{:href => "blog-smallimg-aside-both.html"} BOTH SIDEBAR
              %li
                %a{:href => "blog-smallimg-fullwidth.html"} FULL WIDTH
              %li.divider
              %li
                %a{:href => "blog-smallimg-alternate-1.html"} ALTERNATE 1
              %li
                %a{:href => "blog-smallimg-alternate-2.html"} ALTERNATE 2
          %li.dropdown
            %a.dropdown-toggle{:href => "#"}
              SINGLE
            %ul.dropdown-menu
              %li
                %a{:href => "blog-single-default.html"} DEFAULT
              %li
                %a{:href => "blog-single-aside-left.html"} LEFT SIDEBAR
              %li
                %a{:href => "blog-single-aside-right.html"} RIGHT SIDEBAR
              %li
                %a{:href => "blog-single-fullwidth.html"} FULL WIDTH
              %li
                %a{:href => "blog-single-small-image-left.html"} SMALL IMAGE - LEFT
              %li
                %a{:href => "blog-single-small-image-right.html"} SMALL IMAGE - RIGHT
              %li
                %a{:href => "blog-single-big-image.html"} BIG IMAGE
              %li
                %a{:href => "blog-single-fullwidth-image.html"} FULLWIDTH IMAGE
          %li.dropdown
            %a.dropdown-toggle{:href => "#"}
              COMMENTS
            %ul.dropdown-menu
              %li
                %a{:href => "blog-comments-bordered.html#comments"} BORDERED COMMENTS
              %li
                %a{:href => "blog-comments-default.html#comments"} DEFAULT COMMENTS
              %li
                %a{:href => "blog-comments-facebook.html#comments"} FACEBOOK COMMENTS
              %li
                %a{:href => "blog-comments-disqus.html#comments"} DISQUS COMMENTS
      %li.dropdown
        / SHOP
        %a.dropdown-toggle{:href => "#"}
          SHOP
        %ul.dropdown-menu.pull-right
          %li.dropdown
            %a.dropdown-toggle{:href => "#"}
              1 COLUMN
            %ul.dropdown-menu
              %li
                %a{:href => "shop-1col-left.html"} LEFT SIDEBAR
              %li
                %a{:href => "shop-1col-right.html"} RIGHT SIDEBAR
              %li
                %a{:href => "shop-1col-both.html"} BOTH SIDEBAR
              %li
                %a{:href => "shop-1col-full.html"} FULL WIDTH
          %li.dropdown
            %a.dropdown-toggle{:href => "#"}
              2 COLUMNS
            %ul.dropdown-menu
              %li
                %a{:href => "shop-2col-left.html"} LEFT SIDEBAR
              %li
                %a{:href => "shop-2col-right.html"} RIGHT SIDEBAR
              %li
                %a{:href => "shop-2col-both.html"} BOTH SIDEBAR
          %li.dropdown
            %a.dropdown-toggle{:href => "#"}
              3 COLUMNS
            %ul.dropdown-menu
              %li
                %a{:href => "shop-3col-left.html"} LEFT SIDEBAR
              %li
                %a{:href => "shop-3col-right.html"} RIGHT SIDEBAR
              %li
                %a{:href => "shop-3col-full.html"} FULL WIDTH
          %li.dropdown
            %a.dropdown-toggle{:href => "#"}
              4 COLUMNS
            %ul.dropdown-menu
              %li
                %a{:href => "shop-4col-left.html"} LEFT SIDEBAR
              %li
                %a{:href => "shop-4col-right.html"} RIGHT SIDEBAR
              %li
                %a{:href => "shop-4col-full.html"} FULL WIDTH
          %li.dropdown
            %a.dropdown-toggle{:href => "#"}
              SINGLE PRODUCT
            %ul.dropdown-menu
              %li
                %a{:href => "shop-single-left.html"} LEFT SIDEBAR
              %li
                %a{:href => "shop-single-right.html"} RIGHT SIDEBAR
              %li
                %a{:href => "shop-single-both.html"} BOTH SIDEBAR
              %li
                %a{:href => "shop-single-full.html"} FULL WIDTH
          %li
            %a{:href => "shop-compare.html"} COMPARE
          %li
            %a{:href => "shop-cart.html"} CART
          %li
            %a{:href => "shop-checkout.html"} CHECKOUT
          %li
            %a{:href => "shop-checkout-final.html"} ORDER PLACED
      %li.dropdown.mega-menu
        / SHORTCODES
        %a.dropdown-toggle{:href => "#"}
          SHORTCODES
        %ul.dropdown-menu
          %li
            .row
              .col-md-5th
                %ul.list-unstyled
                  %li
                    %a{:href => "shortcode-animations.html"} ANIMATIONS
                  %li
                    %a{:href => "shortcode-buttons.html"} BUTTONS
                  %li
                    %a{:href => "shortcode-carousel.html"} CAROUSEL
                  %li
                    %a{:href => "shortcode-charts.html"} GRAPHS
                  %li
                    %a{:href => "shortcode-clients.html"} CLIENTS
                  %li
                    %a{:href => "shortcode-columns.html"} GRID &amp; COLUMNS
                  %li
                    %a{:href => "shortcode-counters.html"} COUNTERS
                  %li
                    %a{:href => "shortcode-forms.html"} FORM ELEMENTS
              .col-md-5th
                %ul.list-unstyled
                  %li
                    %a{:href => "shortcode-dividers.html"} DIVIDERS
                  %li
                    %a{:href => "shortcode-icon-boxes.html"} BOXES &amp; ICONS
                  %li
                    %a{:href => "shortcode-galleries.html"} GALLERIES
                  %li
                    %a{:href => "shortcode-headings.html"} HEADING STYLES
                  %li
                    %a{:href => "shortcode-icon-lists.html"} ICON LISTS
                  %li
                    %a{:href => "shortcode-labels.html"} LABELS &amp; BADGES
                  %li
                    %a{:href => "shortcode-lightbox.html"} LIGHTBOX
                  %li
                    %a{:href => "shortcode-forms-editors.html"} HTML EDITORS
              .col-md-5th
                %ul.list-unstyled
                  %li
                    %a{:href => "shortcode-list-pannels.html"} LIST &amp; PANNELS
                  %li
                    %a{:href => "shortcode-maps.html"}
                      %span.label.label-success.pull-right new
                      MAPS
                  %li
                    %a{:href => "shortcode-media-embeds.html"} MEDIA EMBEDS
                  %li
                    %a{:href => "shortcode-modals.html"} MODAL / POPOVER / NOTIF
                  %li
                    %a{:href => "shortcode-navigations.html"} NAVIGATIONS
                  %li
                    %a{:href => "shortcode-paginations.html"} PAGINATIONS
                  %li
                    %a{:href => "shortcode-progress-bar.html"} PROGRESS BARS
                  %li
                    %a{:href => "shortcode-widgets.html"} WIDGETS
              .col-md-5th
                %ul.list-unstyled
                  %li
                    %a{:href => "shortcode-pricing.html"} PRICING BOXES
                  %li
                    %a{:href => "shortcode-process-steps.html"} PROCESS STEPS
                  %li
                    %a{:href => "shortcode-callouts.html"} CALLOUTS
                  %li
                    %a{:href => "shortcode-info-bars.html"} INFO BARS
                  %li
                    %a{:href => "shortcode-blockquotes.html"} BLOCKQUOTES
                  %li
                    %a{:href => "shortcode-responsive.html"} RESPONSIVE
                  %li
                    %a{:href => "shortcode-sections.html"} SECTIONS
                  %li
                    %a{:href => "shortcode-social-icons.html"} SOCIAL ICONS
              .col-md-5th
                %ul.list-unstyled
                  %li
                    %a{:href => "shortcode-alerts.html"} ALERTS
                  %li
                    %a{:href => "shortcode-styled-icons.html"} STYLED ICONS
                  %li
                    %a{:href => "shortcode-tables.html"} TABLES
                  %li
                    %a{:href => "shortcode-tabs.html"} TABS
                  %li
                    %a{:href => "shortcode-testimonials.html"} TESTIMONIALS
                  %li
                    %a{:href => "shortcode-thumbnails.html"} THUMBNAILS
                  %li
                    %a{:href => "shortcode-toggles.html"} TOGGLES
