/
  Top Nav

  AVAILABLE CLASSES:
  submenu-dark = dark sub menu
.navbar-collapse.pull-right.nav-main-collapse.collapse.submenu-dark
  %nav.nav-main

    %ul#topMain.nav.nav-pills.nav-main
      -[ "web" , "dev" , "camp", "apply" ].each do |page|
        %li= link_to page.capitalize ,  page
