.navbar-collapse.pull-right.nav-main-collapse.collapse.submenu-dark
  %nav.nav-main

    %ul#topMain.nav.nav-pills.nav-main
      %li= link_to "Web Dev" ,  page_path(:web)
      %li= link_to "Camp" ,  page_path(:camp)
      %li= link_to "Apply" ,  page_path(:apply)
      %li= link_to "Q & A" ,  page_path(:answers)
