/ SLIDE TOP
#slidetop
  .container
    .row
      .col-md-4
        %h6
          %i.icon-heart
          WHY SMARTY?
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa.
      .col-md-4
        %h6
          %i.icon-attachment
          RECENTLY VISITED
        %ul.list-unstyled
          %li
            %a{:href => "#"}
              %i.fa.fa-angle-right
              Consectetur adipiscing elit amet
          %li
            %a{:href => "#"}
              %i.fa.fa-angle-right
              This is a very long text, very very very very very very very very very very very very
          %li
            %a{:href => "#"}
              %i.fa.fa-angle-right
              Lorem ipsum dolor sit amet
          %li
            %a{:href => "#"}
              %i.fa.fa-angle-right
              Dolor sit amet,consectetur adipiscing elit amet
          %li
            %a{:href => "#"}
              %i.fa.fa-angle-right
              Consectetur adipiscing elit amet,consectetur adipiscing elit
      .col-md-4
        %h6
          %i.icon-envelope
          CONTACT INFO
        %ul.list-unstyled
          %li
            %b Address:
            PO Box 21132, Here Weare St,
            %br/
            Melbourne, Vivas 2355 Australia
          %li
            %b Phone:
            1-800-565-2390
          %li
            %b Email:
            %a{:href => "mailto:support@yourname.com"} support@yourname.com
  %a.slidetop-toggle{:href => "#"}
    / toggle button
/ /SLIDE TOP
