#page-menu.page-menu-color
  .container
    %nav.pull-right
      %button#page-menu-mobile.fa.icon-menu
      %ul.list-inline
        - { "method" => "Method" , "web" => "Web" , "dev" => "Dev" , "teachers" => "Teachers" }.each do |slug , menu|
          %li{class: (params[:id] == slug) && "active" }
            =link_to menu , page_path(slug)
