/
  PAGE MENU

  AVAILABLE CLASSES:
  \.page-menu-light
  \.page-menu-dark
  \.page-menu-transparent
  \.page-menu-color
#page-menu.page-menu-light
  .container
    %nav.pull-right
      %button#page-menu-mobile.fa.fa-bars
      /
        \.menu-scrollTo - for scrollto page menu / no external links
      %ul.list-inline
        - {"web" => "Web" , "dev" => "Dev" , "course" => "Course" , "teachers" => "Teachers" ,
          "answers" => "Q & A"}.each do |slug , menu|
          %li{:class => ("active" if (params[:id] == slug) )}
            =link_to menu , page_path(slug)
