/ /wrapper
/ SCROLL TO TOP
%a#toTop{:href => "#"}
/ PRELOADER
/ JAVASCRIPT FILES
:javascript
  var plugin_path = 'assets/plugins/';
/ LAYER SLIDER
= javascript_include_tag 'layerslider_pack'
= javascript_include_tag 'demo.layerslider_slider'
/ SCRIPTS
= javascript_include_tag 'scripts'
